<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="user/layout/layout_main">
<head>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<meta charset="UTF-8">

<title>로그인</title>
</head>
<body>
	<div class="panel panel-default" layout:fragment="content" align="center">
		<br>
		<br>
		<br>
		<h2>로그인</h2>
		<br>
		<form action="/auth/login" method="post">
			<input class="form-control" type="text" placeholder="아이디" name="username" style="width:220px;height:40px"><br>
			<input class="form-control" type="password" placeholder="비밀번호" name="password" style="width:220px;height:40px"><br>
		<!-- 	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> -->
			
			<a href="">아이디/비밀번호찾기</a>
			<a href="/register/agree">회원가입</a>
			<br>
			<input class="btn btn-secondary" type="submit" value="로그인하기" style="width:220px;height:40px">
			<br>
			<br>
		</form>
			<a th:href="${naverApiUrl}"><img src="/img/login_naver.png" width="220"/></a>
			<br>
		    <a th:href="${kakaoApiUrl}">
<!-- 		    <a> -->
		    <img src="/img/login_kakao.png" width="220"/>
		    </a>
		    <br>
			<br>
			<br>
			<br>
			<br>
			<br>
			
		    
	</div>



</body>
<th:block layout:fragment="script">
<script>
$(function(){
	console.log($(location).attr('href'));
	console.log($(location).attr('href').indexOf('?error'));

	if($(location).attr('href').indexOf('?error')!=-1){
		alert('로그인에 실패하였습니다.')
	}
});
</script>

</th:block>

</html>