<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="admin/layout/layout1">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="footer" class="bg-light">
		<hr>
		<div style="margin-left: 230px; text-align: center;" class="bg-light d-flex justify-content-center text-secondary">
			<p class="mt-2">(주)굿미닝 © 2021 KOSTA All rights reserved.<br><br>
			code by 김명진|노희진|최수연|홍승현<br><br>
			(08506) 서울특별시 금천구 가산디지털1로 151 이노플렉스 1차 2층<br><br>
			※본 사이트는 상업적인 사용을 금합니다.</p>
		</div>
	</div>
</body>
</html>