<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<style>
p {
	color: red;
}
</style>
<script>
	//alert("부모에서 작성된 JavaScript");
	console.log("부모에서 작성된 JavaScript");
</script>
</head>
<body>
	<th:block layout:fragment="style"></th:block>
	<header th:insert="admin/layout/header :: header"></header>
	<div class="panel panel-default" layout:fragment="content"></div>
	<footer th:replace="admin/layout/footer :: footer"></footer>
	<th:block layout:fragment="script"></th:block>
</body>
</html>
