<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form>
		<table>
			<thead>
				<tr>
					<th>상품리뷰쓰기</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>상품사진</td>
					<td>상품정보</td>
				</tr>
				<tr>
					<td>작성자</td>
					<td><input type="text" name="text" size="20" style="width:100%;"></td>
				</tr>
				<tr>
					<td>평가</td>
					<td></td>
				</tr>
				<tr>
					<td>제목</td>
					<td></td>
				</tr>
				<tr>
					<td>내용</td>
					<td></td>
				</tr>
				<tr>
					<td>파일</td>
					<td></td>
				</tr>
			</tbody>
			<tfoot>
			</tfoot>
		</table>
	</form>
</body>
</html>