<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
window.onload = function() {
	btn1.onclick = call1;
	btn2.onclick = call2;
	btn3.onclick = call3;
};

	function count(type) {
		// 결과를 표시할 element
		const resultElement = document.getElementById('result');
		const resultPrice = document.getElementById('totalprice');

		// 현재 화면에 표시된 값
		let number = resultElement.innerText;
		let price = resultPrice.innerText / number;	//price는 항상 1개의 값이어야 함

		// 더하기/빼기
		if (type === 'plus') {
			number = parseInt(number) + 1;
		} else if (type === 'minus') {
			if (parseInt(number) == 1) {
				number = 1;
			} else {
				number = parseInt(number) - 1;
			}
		}

		// 결과 출력
		resultElement.innerText = number;
		resultPrice.innerText = number * price
	}
	
	function call1(){
		var obj = "[[${product.productDetailimg}]]";
		
		here.innerHTML = "<img src=" + obj + " width='300'>";
	}
	
	function call2(){
		$.ajax({
			url : "productReview",
			type : "POST",
			async : false,
			data : {
				pno : "[[${product.productNum}]]"
			},
			dataType: "html",
			type : "post",
			success : function(responseData) { //responseData는 들어오는 값
			$("#here").html(responseData);
			here.innerHTML += "<button onclick='reviewWrite();'>리뷰작성</button>";
			}
		});
	}
	
	function call3(){
		here.innerHTML = "";
	}
	
	function reviewWrite(){
		
		
		
		$.ajax({
			url : "reviewWriteForm",
			type : "POST",
			data : {
				pno : "[[${product.productNum}]]"
			},
			dataType: "html",
			type : "post",
			success : function(responseData) { //responseData는 들어오는 값
			$("#here").html(responseData);
			}
		});
	}
</script>
</head>
<body>


	<img th:src="${product.productMainimg1}" th:width="100">
	<a th:value=${product.productNum}>[[${product.productName}]]</a>
	<br>
	<div th:if="${options.size() == 0}">
		<a th:value=${product.productPrice}>[[${product.productPrice}]]원</a>
	</div>


	<div>
		수량 <input type='button' onclick='count("minus")' value='-' /> <span
			id="result">1</span> <input type='button' onclick='count("plus")'
			value='+' />
	</div>

	<div th:if="${options.size() != 0}">
		<select name="productoptions">
			<option th:each="options:${options}"
				value='[[${options.optionName}]]'>[[${options.optionName}]]</option>
		</select>
	</div>

	총상품금액
	<span id="result2">1</span>개
	<span id="totalprice">[[${product.productPrice}]]</span>원
	<br>

	<button>구매하기</button>
	<button>장바구니</button>

	<br>
	<button id="btn1">상세정보</button>
	<button id="btn2">구매평</button>
	<button id="btn3">Q&A</button>
	<div id="here">
		<img th:src="${product.productDetailimg}" th:width="300">
	</div>
</body>
</html>