<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
	function showReview(a, reviewnum, obj) {

		if (document.activeElement.name == "replycontents" || document.activeElement.name == "replybtn") {
			return;
		}
		

		constatus = $("#detailcontent" + a).css("display")
		revstatus = $("#replies" + a).css("display")
		wristatus = $("#writing" + a).css("display")

		if (constatus == "none") {
			$("#detailcontent" + a).css("display", "");
			$("#replies" + a).css("display", "");
			$("#writing" + a).css("display", "");
		} else {
			$("#detailcontent" + a).css("display", "none");
			$("#replies" + a).css("display", "none");
			$("#writing" + a).css("display", "none");
		}
	}

	function writeReply(rno, obj, a) {
		console.log($(obj).parent());
		var contents = $(obj).parent()
				.find("textarea[name='replycontents']").val();
		console.log(rno);
		console.log(contents);
       
		$.ajax({
			url : "writeReviewReply",
			type : "POST",
			data : {
				reviewContent : contents,
				reviewno : rno,
				productNum :[[${product.productNum}]]
			},
			success : function(responseData) { //responseData는 들어오는 값;
				 call2();
				$("#detailcontent" + a).css("display", "");
				   $("#replies" + a).css("display", "");
					$("#writing" + a).css("display", "");
				//console.log(responseData);
				//$("#here").html(responseData);
			}
		})
	}
</script>
</head>
<body>
	<table>
		<tbody th:each="review, status:${rlist}"
			th:onclick="|showReview(${status.count}, ${review.reviewNum}, this)|">
			<tr class="open">
				<td hidden="" th:text="${review.reviewNum}"></td>
				<td th:text="${review.reviewLike}"></td>
			</tr>
			<tr class="open">
				<td th:text="${review.productNum.productName}"></td>
				<!-- <td th:text="${review.orderDetailNum}"></td> 옵션 -->
			</tr>
			<tr class="open">
				<td
					th:text="${review.userPhone.userId} +' ' + ${#dates.format(review.reviewCreatedate, 'yyyy-MM-dd HH:mm')}"></td>
			</tr>
			<tr class="open">
				<td th:text="${review.reviewTitle}"></td>
			</tr>
			<tr>
				<td th:text="${review.reviewContent}" style="display: none"
					th:id="|detailcontent${status.count}|"></td>
			</tr>
			<tr>
				<td th:id="|replies${status.count}|" style="display: none">
					<table id="replytable">
						<tr th:each="reply:${review.answers}">
							<td th:text="${reply.userPhone.userId}"></td>
							<td th:text="${reply.ranswerContent}"></td>
							<td
								th:text="${#dates.format(reply.ranswerCreatedate, 'yyyy-MM-dd HH:mm')}"></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td th:id="|writing${status.count}|" style="display: none">
					<form>
						<textarea rows="5" cols="50" id="replycontents"
							name="replycontents"></textarea>
						<input type="button" name="replybtn"
							th:onclick="|writeReply(${review.reviewNum}, this, ${status.count})|"
							value="댓글작성">
					</form>
					<hr>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>