<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/minty/bootstrap.min.css" />
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
	function showReview(a, reviewnum, obj) {

		if (document.activeElement.name == "replycontents" || document.activeElement.name == "replybtn"
				|| document.activeElement.name == "images" ) {
			return;
		}
		
		constatus = $("#detailcontent" + a).css("display")
		revstatus = $("#replies" + a).css("display")
		wristatus = $("#writing" + a).css("display")
		imgstatus = $("#images" + a).css("display")

		if (constatus == "none") {
			$("#detailcontent" + a).css("display", "");
			$("#replies" + a).css("display", "");
			$("#writing" + a).css("display", "");
			$("#images" + a).css("display", "");
		} else {
			$("#detailcontent" + a).css("display", "none");
			$("#replies" + a).css("display", "none");
			$("#writing" + a).css("display", "none");
			$("#images" + a).css("display", "none");
		}
	}

	function writeReply(rno, obj, a) {
		var user = "[[${user}]]";
		if(user ==""){
			alert("로그인한 회원만 댓글을 작성할 수 있습니다.");
			return;
		}
		
		console.log($(obj).parent());
		var contents = $(obj).parent()
				.find("textarea[name='replycontents']").val();
		console.log(rno);
		console.log(contents);
       
		$.ajax({
			url : "writeReviewReply",
			type : "POST",
			data : {
				reviewContent : contents,
				reviewno : rno,
				productNum :[[${product.productNum}]]
			},
			success : function(responseData) { //responseData는 들어오는 값;
				 call2();
				$("#detailcontent" + a).css("display", "");
				   $("#replies" + a).css("display", "");
					$("#writing" + a).css("display", "");
					$("#images" + a).css("display", "");
				//console.log(responseData);
				//$("#here").html(responseData);
			}
		})
	}
	
	function reviewWrite(ordetail, user){
				console.log(user);
		if(ordetail == null && user != null) {
			alert("작성할 리뷰가 존재하지 않습니다.")
			return;
		} 
		
		$.ajax({
			url : "reviewWriteForm",
			type : "POST",
			data : {
				pno : "[[${product.productNum}]]"
			},
			dataType: "html",
			type : "post",
			success : function(responseData) { //responseData는 들어오는 값
			$("#here").html(responseData);
			}
		});
	}
</script>
</head>
<body>


	<div th:if="${rlist.size() == 0}"
		style="height: 80px; text-align: center;">
		<br> 작성된 리뷰가 없습니다.
	</div>

	<div th:if="${rlist.size() != 0}">
		<table class="table table-hover" style="width: 700px;">
			<tbody th:each="review, status:${rlist}"
				th:onclick="|showReview(${status.count}, ${review.reviewNum}, this)|"
				style="border: none;">
				<tr class="open">
					<td style="vertical-align:middle;"><span hidden="" th:text="${review.reviewNum}"></span> <span
						th:if="${review.reviewLike} == 5"><a
							style="color: #F3969A;">★★★★★</a></span> <span
						th:if="${review.reviewLike} == 4"><a
							style="color: #F3969A;">★★★★</a><a style="color: #ccc;">☆</a></span> <span
						th:if="${review.reviewLike} == 3"><a
							style="color: #F3969A;">★★★</a><a style="color: #ccc;">☆☆</a></span> <span
						th:if="${review.reviewLike} == 2"><a
							style="color: #F3969A;">★★</a><a style="color: #ccc;">☆☆☆</a></span> <span
						th:if="${review.reviewLike} == 1"><a
							style="color: #F3969A;">★</a><a style="color: #ccc;">☆☆☆☆</a></span> <br>
						<span th:text="${review.productNum.productName}"></span> <!-- <td th:text="${review.orderDetailNum}"></td> 옵션 -->


						<br> <span
						th:text="${review.userPhone.userId} +' ' + ${#dates.format(review.reviewCreatedate, 'yyyy-MM-dd HH:mm')}"></span>
						<br> <span th:text="${review.reviewTitle}"></span> <br>
						<span th:text="${review.reviewContent}" style="display: none"
						th:id="|detailcontent${status.count}|"></span>
						<div th:id="|images${status.count}|" th:name="images"
							style="display: none">
							<br>
							<a th:if="${review.reviewMainimg1} != null"><img
								th:id="|reviewimg1${status.count}|"
								th:src="|https://good-meaning.s3.ap-northeast-2.amazonaws.com/${review.reviewMainimg1}|" th:width="200"></a> <a
								th:if="${review.reviewMainimg2} != null"><img
								th:id="|reviewimg2${status.count}|"
								th:src="|https://good-meaning.s3.ap-northeast-2.amazonaws.com/${review.reviewMainimg2}|" th:width="200"></a>
						</div>

						<div th:id="|replies${status.count}|" style="display: none">
							<table id="replytable">
								<tr th:each="reply:${review.answers}">
									<td th:text="${reply.userPhone.userId}"></td>
									<td th:text="${reply.ranswerContent}"></td>
									<td
										th:text="${#dates.format(reply.ranswerCreatedate, 'yyyy-MM-dd HH:mm')}"></td>
								</tr>
							</table>
						</div>

						<form th:id="|writing${status.count}|" style="display: none">
							<textarea rows="3" cols="60" class="form-control"
								id="replycontents" name="replycontents"
								style="margin-bottom: 5px; padding-bottom: 5px;"></textarea>
							<input type="button" name="replybtn" style="float: right;"
								th:onclick="|writeReply(${review.reviewNum}, this, ${status.count})|"
								class="btn btn-secondary" value="댓글작성">
						</form></td>
				</tr>
			</tbody>
		</table>
	</div>
		<span th:if="${user} != null">
			<button class="btn btn-secondary"
				th:onclick="reviewWrite([[${ordetail}]], [[${user.userPhone}]])">리뷰작성</button>
				<br>
				<br>
		</span>
</body>
</html>