<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="user/layout/layout_main">
<head>
<!-- jQuery  -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<!-- iamport.payment.js -->
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>

<meta charset="UTF-8">
<title>구매하기</title>
</head>
<body>
<!-- 유저vo -->
<div class="panel panel-default" layout:fragment="content" align="center">
	<h1 id="title">구매정보</h1>
	<br>
	<!-- 구매 예정 상품 list  -->
	
	<div>
    	<div id="list" th:each="item:${olist}">
         	<div class="product">
            	<img th:src="${item[0]}" th:width="150">               
                    <div>
                    	<span id="productName" th:text="${item[1]}"></span>
                    </div>
                    <div>
                    	옵션:<span class="optionName" id="optionName" th:data-poname="${item[7]}" th:text="${item[7]}"></span>
                    </div>
                    <div>
                        수량:<span class="cartCount" id="cartCount" th:data-count="${item[2]}" th:text="${item[2]} +'개'"></span>
                        /가격:<span class="price" id="price" th:data-price="${item[3]}" th:text="${item[3]}+'원'"></span>
                    </div>
                <input type="hidden" id="cartNum" th:value="${item[5]}" >                
                <input type="hidden" name="productNum" id="productNum" th:value="${item[6]}" >                
                <input type="text" name="optionNum" id="optionNum" th:value="${item[8]==null?0:item[8]}" >                
        	</div>
        </div>
        <h2 class="text-center">
			총 주문 금액:<span id="orderTotalPrice" class="text-danger">0원</span>
		</h2>       	
	</div>
	
	
	<!-- 주문form -->
	<form action="/order" method="post" id="purchaseForm">
		<table>
			<tr>
				<th>주문하시는 분</th>
				<td><input type="text" name="userName" id="userName" th:value="${session.user.userName}" required="required"></td>
			</tr>			
						
			<tr>
				<th>휴대폰번호</th>
				<td><input type="text" name="userPhone" id="userPhone" readOnly th:value="${session.user.userPhone}"></td>
			</tr>
			
			<tr id="tr_userEmail">
				<th>이메일</th>
			<td><input type="text" name="userEmail" id="userEmail" th:value="${session.user.userEmail}" readOnly></td>
			</tr>

			<tr>
			<th>주소</th>
			<td>
			<input type="text" name="userAddress" id="userAddress" readOnly th:value="${session.user.userAddress}" required="required">
			<input type="text" name="userPostcode" id="userPostcode" th:value="${session.user.userPostcode}" readOnly required="required">
			</td>
		</tr>
		<tr>
			<th>상세주소</th>
			<td><input type="text" id="userAddressDetail" name="userAddressDetail" th:value="${session.user.userAddressDetail}"></td>
		</tr>
	
		</table>
		
		<input type="button" id="payNow" value="구매하기">
		<input type="button" id="payNow2" value="구매하기2">


	</form>
 
<th:block layout:fragment="script">
<script>
   
    var totalPrice = 0; 
	$(document).ready(function(){
		
	  	//실행내용
		getOrderTotalPrice();
	  	
		var IMP = window.IMP;
		var productName = $('div.product').find('span#productName').text();//name:상품명 
		var userName = $('#userName').val();//주문자이름
		var customer_uid = $('#userPhone').val(); //주문자번호
		var userEmail = $('#userEmail').val();//주문자이메일
		var userAddress = $('#userAddress').val();//주소
		var userPostcode = $('#userPostcode').val();//우편번호
			
		IMP.init("imp03054995"); // 예: imp00000000
		var msg;
				
		$("#payNow2").click(function(){//테스트#####################
			 
        	var orderDetailQuantityArr = []
        	$(".cartCount").each(function(index, item){     		 
        		orderDetailQuantityArr.push($(item).attr("data-count"));
 			});

        	var orderDetailPriceArr = []
        	$(".price").each(function(index, item){     		 
        		orderDetailPriceArr.push($(item).attr("data-price"));
 			});

        	var productNumArr = []
        	$('input[name="productNum"]').each(function(index, item){     		 
        		productNumArr.push($(item).val())
 			});
        	
        	var productOptionArr = []
        	$('input[name="optionNum"]').each(function(index, item){     		 
        		productOptionArr.push($(item).val());
 			});
        	
        	var orderInfo = 
        	{"orderNum" : new Date().getTime(),
        	"deliveryRecipient":userName,		
        	"deiveryPhone":customer_uid,
        	"postcode":userPostcode,
        	"address" :userAddress,
        	"addressDetail": $("#userAddressDetail").val(),
        	"orderTotalPrice":totalPrice,
        	"orderStatus" : "주문완료",
        	"orderWaybill":"",
        	
        	"orderDetailQuantity":orderDetailQuantityArr,
        	"orderDetailPrice":orderDetailPriceArr,
        	"productNum":productNumArr,
        	"productOption":productOptionArr 
        	 };
        	console.log(JSON.stringify(orderInfo));
        	$.ajax({
        		url: "orderSave",
        		type: "post",
        		data: orderInfo,
        		success: function(responseData){
        			alert(responseData);
        			location.href="/mypage/orders";//마이페이지 주문 확인으로 가기
        		}
        	});
		});
		
		//결제시 PG사의 결제 페이지가 열리는 예제
		$("#payNow").click(function(e) {
	    // IMP.request_pay(param, callback) 결제창 호출
	    IMP.request_pay({ // param
	    	pg: "html5_inicis",
	          pay_method: "card",
	          merchant_uid: new Date().getTime(),
	          name: productName, //상품명 object로 옴
	          amount: totalPrice,//가격
	          buyer_email: userEmail,
	          buyer_name: userName,
	          buyer_tel: userPhone,
	          buyer_addr: userAddress,
	          buyer_postcode: userPostcode
	    }, function (rsp) { // callback
	    	 console.log(rsp);
	    	alert(rsp);
	   
	        if (rsp.success) {// 결제 성공 시: 결제 승인 또는 가상계좌 발급에 성공한 경우       	
	        	var msg = '결제가 완료되었습니다';
	        	msg += '고유ID : ' + rsp.imp_uid;
		        msg += '상점 거래ID : ' + rsp.merchant_uid;
		        msg += '결제 금액 : ' + rsp.paid_amount;
		        msg += '카드 승인번호 : ' + rsp.apply_num;
	        	console.log("결제성공 " + msg);
	        	//OrderVo, OrderDetailVO
	        	console.log( $(".cartCount").text());
	        	var orderDetailQuantityArr = $(".cartCount").text();
	        	var orderDetailPriceArr = $(".price").text();
	        	var productNumArr = [];
	        	var productOptionArr = [];
	        	var orderInfo = 
	        	{"orderNum" : merchant_uid, 
	        	"deiveryPhone":userPhone,
	        	"postcode":userPostcode,
	        	"address" : userAddress,
	        	"addressDetail": $("#userAddressDetail").val(),
	        	"orderTotalPrice":totalPrice,
	        	"orderStatus" : "주문완료",
	        	"orderWaybill":"",
	        	"orderDetailQuantity":orderDetailQuantityArr,
	        	"orderDetailPrice":orderDetailPriceArr,
	        	"productNum":productNumArr,
	        	//"orderNum": merchant_uid  ,
	        	"productOption":productOptionArr 
	        	 };
	        	$.ajax({
	        		url: "orderSave",
	        		type: "post",
	        		data:orderInfo,
	        		success: function(responseData){
	        			alert(responseData);
	        			location.href="/mypage/orders";//마이페이지 주문 확인으로 가기
	        		}
	        	});
	        	
	        } else {
		            // 결제 실패 시 로직
		        	msg = '결제에 실패하였습니다.\n';
		        	msg += '에러내용 : ' + rsp.error_msg;
		        	console.log(msg);
		        	alert(msg);
		            //결제 실패시 이동할 페이지
		        	//location.href="order";
	       		}
	    	});
		});
	});
	 
	
	function getOrderTotalPrice(){			
		$("div.product").each(function(){
			
	        var price = $(this).find("span#price").attr("data-price");
	        var count = $(this).find("span#cartCount").attr("data-count");
			
		    //console.log(price);
		   	//console.log(count);
		   	
		   	totalPrice += Number(price)*Number(count);
			//console.log("orderTotalPrice!!:" + totalPrice);
		});
		
		if(totalPrice<100000) totalPrice+=2500;
		//console.log("orderTotalPrice:" + totalPrice);
		 	
		$("#orderTotalPrice").html(totalPrice+'원');
	}
</script>
</th:block>
</div>
</body>
</html>