<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="user/layout/layout_main">
<head>
<!-- jQuery  -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<!-- iamport.payment.js -->
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>

<meta charset="UTF-8">
<title>구매</title>
</head>
<body>
<!-- 유저vo -->
<div class="panel panel-default" layout:fragment="content" align="center">
	<h2 align="left">구매정보</h2>
	<br>
	<!-- 구매 예정 상품 list  -->
	
	<h4 align="left">상품정보</h4>
	<table id=order_info class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>상품이미지</th>
				<th>상품정보</th>
				<th>옵션</th>
				<th>수량</th>
				<th>판매가</th>
				<th>추가금액</th> 
				<!-- <th>합계</th> --> 
			</tr>
		</thead>
		<tr class="product" id="list" ><!-- th:each="item:${olist}" -->
			<td>
				<img th:src="${product.productMainimg1}" th:width="150">
			</td>
			<td>
				<span id="productName" th:text="${product.productName}"></span>             
			</td>
			
			<!-- 옵션 	${#lists.size(arrList)}-->
			<td>
			<div th:each="item:${optionList}">
				<span th:text="${item.optionName}"></span>
			</div>
			</td>        
			<!-- 수량 -->	
			<td class="count" id="count" th:data-count="${proquantity}" 
                	if="${#lists.size(proquantity)!=0}" th:text="${proquantity}" style="color:grey;">
            </td>
            <!-- <td class="count" id="count" th:data-count="${count}" 
                	unless="${#lists.size(proquantity)!=0}" th:text="${opquantity}" style="color:grey;">
			</td> -->
			
			<!-- 판매가 -->	
			<td><span class="price" id="price" th:data-price="${product.productPrice}" 
                	th:text="|${#numbers.formatInteger(product.productPrice, 0, 'COMMA')}원|"></span>
            </td>
            <!-- 추가금액 -->	
			<td>
			<div th:each="item:${optionList}">
				<span th:text="${item.extraprice}"></span>
			</div>
			</td>
            <td >            	
            	<input type="hidden" name="productNum" id="productNum" th:value="${product.productNum}" >
            	<!-- 옵션Num -->
            	<div th:each="item:${optionList}"><!-- ${#lists.size(item.optionNum)} -->
            		<input type="hidden" name="optionNum" id="optionNum" th:value="${item.optionNum}" >					
				</div>
            </td>
		</tr>
	</table>
      
        <h2 class="text-center">
			총 주문 금액:<span id="orderTotalPrice" class="text-danger">0원</span>
		</h2>     
		<div style="font-size: 15px; font-weight: bold;">배송비:3,000원 (50,000원 이상 무료배송)</div>  	
		<br>
	
	<h4 align="left">주문정보</h4>
		<table id=sender_info class="table table-bordered">
			<tr>
				<!-- <th>주문하시는 분</th> -->
				
				<th class="table-light" width=100>주문하시는 분</th>
				<td id="userName" th:text="${session.user.userName}"></td>
				<th class="table-light"  width=100>전화번호</th>
				<td id="userPhone" th:text="${session.user.userPhone}"></td>
				<th class="table-light"  width=100>이메일</th>
				<td id="userEmail" th:text="${session.user.userEmail}"></td>
			</tr>			
			<tr>
				<th class="table-light" width=100>주소</th>
				<td th:id="userAddress" th:text="${session.user.userAddress}"></td>
				<th class="table-light" width=100>상세주소</th>
				<td th:text="${session.user.userAddressDetail}"></td>
				<th class="table-light" width=100>우편번호</th>
				<td th:id="userPostcode" th:text="${session.user.userPostcode}"></td>
			</tr>			
					
		</table>
		
		<input type="button" class="btn btn-secondary btn-lg" id="payNow" value="구매하기">

 </div>
<th:block layout:fragment="script">
<script>
   
    var totalPrice = 0; 
	$(document).ready(function(){
		
	  	//실행내용
		getOrderTotalPrice();
	  	
		var IMP = window.IMP;
		var productName = $('tr.product').find('#productName').text();//name:상품명 
		var userName = $('#userName').text();//주문자이름
		var customer_uid = $('#userPhone').text(); //주문자번호
		var userEmail = $('#userEmail').text();//주문자이메일
		var userAddress = $('#userAddress').text();//주소
		var userPostcode = $('#userPostcode').text();//우편번호
		
		console.log(productName);
		console.log(userName);
		console.log(customer_uid);
		console.log(userEmail);
		console.log(userAddress);
		console.log(userPostcode);
			
		IMP.init("imp03054995"); // 예: imp00000000
		var msg;		
		
		//결제시 PG사의 결제 페이지가 열리는 예제
		$("#payNow").click(function(e) {
	    // IMP.request_pay(param, callback) 결제창 호출
	    IMP.request_pay({ // param
	    	pg: "html5_inicis",
	          pay_method: "card",
	          merchant_uid: new Date().getTime(),
	          name: productName, //상품명
	          amount: 100,  //가격 totalPrice
	          buyer_email: userEmail,
	          buyer_name: userName,
	          buyer_tel: userPhone,
	          buyer_addr: userAddress,
	          buyer_postcode: userPostcode
	    }, function (rsp) { // callback
	    	console.log(rsp);
	    	//alert(rsp);
	   
	        if (rsp.success) {// 결제 성공 시: 결제 승인 또는 가상계좌 발급에 성공한 경우       	
	        	console.log("결제가 완료되었습니다. 구매내역을 확인하세요.");
	        	
	        	//결제 완료시 OrderVo, OrderDetailVO에 저장하기 위한
	        	var orderDetailQuantityArr = []
	        	$(".count").each(function(index, item){     		 
	        		orderDetailQuantityArr.push($(item).attr("data-count"));
	 			});
	
	        	var orderDetailPriceArr = []
	        	$(".price").each(function(index, item){     		 
	        		orderDetailPriceArr.push($(item).attr("data-price"));
	 			});
	
	        	var productNumArr = []
	        	$('input[name="productNum"]').each(function(index, item){     		 
	        		productNumArr.push($(item).val())
	 			});
	        	
	        	var productOptionArr = []
	        	$('input[name="optionNum"]').each(function(index, item){     		 
	        		productOptionArr.push($(item).val());
	 			});
	        	
	        	
	        	var orderInfo = 
	        	{"orderNum" : new Date().getTime(),
	                "deliveryRecipient":userName,		
	                "deiveryPhone":customer_uid,
	               	"postcode":userPostcode,
	               	"address" :userAddress,
	               	"addressDetail": $("#userAddressDetail").text(),
	               	"orderTotalPrice":totalPrice,
	               	"orderStatus" : "입금완료",
	              	"orderWaybill":"",
	        	
	              	"orderDetailQuantity":orderDetailQuantityArr,
	            	"orderDetailPrice":orderDetailPriceArr,
	            	"productNum":productNumArr,
	            	"productOption":productOptionArr 
	        	 };
	        	console.log(JSON.stringify(orderInfo));
	        	$.ajax({
	        		url: "/orderSave",
	        		type: "post",
	        		data:orderInfo,
	        		success: function(responseData){
	        			alert(responseData);
	        			location.href="/mypage/orders";//마이페이지 주문 확인으로 가기
	        		}
	        	});
	        	
	        } else {
		            // 결제 실패 시 로직
		        	msg = '[결제 실패]\n';
		        	msg += rsp.error_msg;
		        	console.log(msg);
		        	alert(msg+'. 구매 페이지로 돌아갑니다.');
		            //결제 실패시 이동할 페이지
		        	location.replace;
	       		}
	    	});
		});
	});
	 
	
	function getOrderTotalPrice(){			
		$("tr.product").each(function(){
			
	        var price = Number($(this).find("span#price").attr("data-price"));
	        var extraPrice = Number($(this).find("span#extraPrice").attr("data-extra"));
	        var count = Number($(this).find("#count").attr("data-count"));
		   	
	        if(isNaN(extraPrice)){
            	extraPrice = 0;
            	console.log("extraPrice:"+extraPrice);
            }
		   	totalPrice += (price*count)+(extraPrice*count);

		});
		
		if(totalPrice<50000) totalPrice+=3000;
		 	
		$("#orderTotalPrice").html(totalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+'원');
	}
</script> -->
</body>
</html>