<!DOCTYPE html>
<html>
<head
xmlns:th="http://www.thymeleaf.org">

<meta charset="UTF-8">
<title>회원가입</title>
</head>
<body>
<h1>회원가입</h1>
<form>
아이디 <input type="text" name="user_id"><input type="button" value="중복확인">
비밀번호 <input type="text" name="user_pw">
비밀번호확인 <input type="text">
주소 <input type="text" name="user_address">
상세주소 <input type="text" name="user_address_detail">


</form>


</body>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
window.onload = function(){
    document.getElementByName("user_address").addEventListener("click", function(){ //주소입력칸을 클릭하면
        //카카오 지도 발생
        new daum.Postcode({
            oncomplete: function(data) { //선택시 입력값 세팅
                document.getElementByName("user_address").value = data.address; // 주소 넣기
                document.querySelector("input[name=address_detail]").focus(); //상세입력 포커싱
            }
        }).open();
    });
}
</script>
</html>