<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="admin/layout/layout2">
<head>
<meta charset="UTF-8">
<title>Admin Login</title>
<!-- <th:block layout:fragment="style">
	<style>
		div {border:1px solid gray;}
	</style>
</th:block> -->

</head>
<body>
	<div class="panel panel-default" layout:fragment="content">
		<div class="bg-dark" style="display: flex; justify-content: center; align-items: center; min-height: 100vh;"> 
			<form action="/admin/adminlogin" method="post">
				<div class="input-group justify-content-center mb-4">
					<img src="/img/logo_admin.png" width="200px">
				</div>
				<hr>
				<div class="input-group justify-content-center mt-3 mb-3 text-secondary">
					<h3>&nbsp;관리자 로그인&nbsp;</h3>
				</div>
				<hr>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<i class="material-icons" style="font-size:36px">assignment_ind</i>
						</div>
					</div>
					<input type="text" class="form-control" name="username" placeholder="아이디" onfocus="this.placeholder=''" onblur="this.placeholder='아이디'">
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<i class="material-icons" style="font-size:36px">vpn_key</i>
						</div>
					</div>
					<input type="password" class="form-control" name="password" placeholder="비밀번호" onfocus="this.placeholder=''" onblur="this.placeholder='비밀번호'">
				</div>
				<!-- <input type="hidden" name="userRole" value="ADMIN"/> -->
				<div class="input-group mb-3 d-flex justify-content-between">
					<button type="submit" class="btn mr-1" style="width: 220px; background-color: #78c2ad;">Login</button>
					<button type="button" class="btn " style="width: 220px; background-color: #f3969a;">Find ID/Password</button>
				</div>
			</form>
		</div>
	</div>

	<th:block layout:fragment="script">
		<script>
			$(function(){
				console.log($(location).attr('href'));
				console.log($(location).attr('href').indexOf('?error'));
	
				if($(location).attr('href').indexOf('?error')!=-1){
					alert('로그인에 실패하였습니다.')
				}
			});
		</script>
	</th:block>
</body>
</html>