<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>굿미닝 404</title>
<style>
@font-face {
	font-family: 'NanumSquareRoundOTFR';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'NanumSquareRoundOTFR';

}
</style>
</head>
<body>
<br>
<br>
<br>
<br>

<div align="center">
	<br>
	<h1>❗404 Error❗</h1>
	<br>
	<h2>접근할 수 없는 경로입니다</h2>
	<h5>확인 후 다시 접속해 주세요 !</h5>

</div>
</body>
</html>