<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="admin/layout/layout1">
<head>
<meta charset="UTF-8">
<title>상품등록</title>
<th:block layout:fragment="style">
	<style>
		.modal{
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		}
/* 		div {
		  background-color: gray;
		} */
		button {
		  float: right;
		}

	</style>
</th:block>
</head>
<body>
	<div th:fragment="detailModal">
		<!-- script도 fragment div 안에 넣어줘야 작동됨!  <th:block layout:fragment="script"> 아니야!! -->
		<!-- The Modal -->
		<div class="modal fade" id="myModal" role="dialog" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog">
				<div class="modal-content" style="width: 1000px; height: 100%; justify-content: center; ">
				
					<div class="modal-header">
						<h3 class="modal-title">상세 정보</h3>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<div class="modal-body" id="my">
  						<form action="updateProduct" method="post" id="myfrm" enctype="multipart/form-data">
							<table class="table table-bordered">
								<tr>
									<th>상품번호</th>
									<td>
										<input type="text" class="form-control-plaintext" id="productNum" name="productNum" readonly />
									</td>
								</tr>
								<tr>
									<th>상품명</th>
									<td>
										<input type="text" class="form-control-plaintext" id="productName" name="productName" placeholder="(click)상품명 입력" onfocus="this.placeholder=''" onblur="this.placeholder='(click)상품명 입력'" />
									</td>
								</tr>
								<tr>
									<th>판매가</th>
									<td>
										<input type="text" pattern="[0-9]+" class="form-control-plaintext" id="productPrice" name="productPrice" placeholder="판매가 입력" onfocus="this.placeholder=''" onblur="this.placeholder='판매가 입력'" />
									</td>
								</tr>
								<tr>
									<th>카테고리</th>
									<td>
										<div class="form-check-inline" >
											<label th:each="category:${T(com.goodmeaning.vo.Category).values()}" class="form-check-label" >
											<input type="checkbox"  name="productCategory"  class="form-check-input productCategory" 	 
											th:value="${category.name()}"   />&nbsp;[[${category.name()}]]&nbsp;&nbsp;&nbsp;&nbsp;</label>
										</div>
									</td>
								</tr>
								<tr>
									<th>옵션</th>
									<td>
										<div class="form-group" id="useOption">
											<label class="radio-inline"><input type="radio" id="optionNo" name="options" value="0" checked />&nbsp;사용하지 않음&nbsp;&nbsp;&nbsp;&nbsp;</label>
											<label class="radio-inline"><input type="radio" id="optionYes" name="options" value="1" />&nbsp;사용함</label>
										</div>
										<div id="demo" class="collapse">
											<div class="form-group d-flex justify-content-start align-items-end" id="option1">
												<div class="col-3">
													<label for="optionCategory"><b>옵션분류</b></label>
													<select class="form-control" id="optionCategory" name="optionCategory">
														<option>선택</option>
														<option value="Type">Type</option>
														<option value="Size">Size</option>
														<option value="Color">Color</option>
														<option value="Other">Other</option>
													</select>
												</div>
												<div class="col-3">
													<input class="form-control" id="writeOther" name="writeOther" type="hidden" placeholder="직접 입력" onfocus="this.placeholder=''" onblur="this.placeholder='직접 입력'" />
												</div>
											</div>
											<div class="options form-group d-flex justify-content-start align-items-end" id="option2">
												<div class="col-3">
													<label class="optLable" for="optionName"><b>옵션명</b></label>
													<input class="form-control" id="optionName" name="optionName" type="text" placeholder="직접 입력" onfocus="this.placeholder=''" onblur="this.placeholder='직접 입력'" />
												</div>
												<div class="col-3">
													<label class="optLable"for="optionPrice"><b>추가금액</b></label>
													<input class="optionPrice form-control" pattern="[0-9]+" id="optionPrice" name="optionPrice" type="text" placeholder="직접 입력" onfocus="this.placeholder=''" onblur="this.placeholder='직접 입력'"
														onkeyup="onKeyup(this);"/>
												</div>
												<div class="col-1">
													<input type="button" id="addOptionBtn" value="add_to_photos" class="btn form-control material-icons">
												</div>
												<div class="col-1" >
													<input type="button" id="deleteOption" value="delete" class="btn deleteBtn form-control material-icons"> 
												</div>
												<div class="col-2">
													<input type="text" id="optionNum" name="optionNum" class="form-control"> 
												</div>
											</div>
											<div id="addOptions"></div>
										</div>
									</td>
								</tr>
								<tr>
									<th>대표이미지</th>
									<td>
										<div>
											<div class="fileBox">
												<input type="text" class="fileName" name="file" readonly="readonly" >
												<label for="productMainimg1" class="btn_file">파일선택</label> 
												<input type="file" id="productMainimg1" name="uploadFile" class="uploadBtn">
											</div>

											<div class="fileBox">
												<input type="text" class="fileName form-control" name="file"
													readonly="readonly" >
												<label for="productMainimg2" class="btn_file ">파일선택</label> <input
													type="file" id="productMainimg2" name="uploadFile"
													class="uploadBtn">
											</div>
											<div class="fileBox">
												<input type="text" class="fileName" name="file"
													readonly="readonly" >
												<label for="productMainimg3" class="btn_file">파일선택</label> <input
													type="file" id="productMainimg3" name="uploadFile"
													class="uploadBtn">
											</div>
											<div class="fileBox">
												<input type="text" class="fileName" name="file"
													readonly="readonly">
												<label for="productMainimg4" class="btn_file">파일선택</label> <input
													type="file" id="productMainimg4" name="uploadFile"
													class="uploadBtn">
											</div>
										</div> <!-- <div class="d-flex justify-content-around mb-2" th:each="num : ${#numbers.sequence(1,4)}">
											<div class="custom-file">
												<input type = "text" class="bg-danger">
												<input type="file" class="file-input" th:id="|productMainimg${num}|" name="uploadFile" accept="image/*"> 
												<label th:id="|label${num}|" class="file-label" th:for="|productMainimg${num}|" >Choose File[[${num}]]</label>
											</div>
											<div class="col-1">
												<input type="button" th:id="|editDeleteBtn${num}|" value="delete" class="btn form-control btnDelete material-icons">
											</div>
										</div> -->
									</td>
								</tr>
								<tr>
									<th>상세페이지</th>
									<td>
										<div class="d-flex justify-content-around">
											<div class="fileBox">
												<input type="text" class="fileName" name="file" readonly="readonly"> 
												<label for="productDetailimg" class="btn_file">파일선택</label> 
												<input type="file" id="productDetailimg" name="uploadFile" class="uploadBtn">
											</div> 
											<div class="col-3">
												<input type="button" value="delete" class="btn form-control btnDelete material-icons"><!-- hidden="true" -->
											</div>
										</div>
										<!-- 										<div class="d-flex justify-content-around">
											<div class="custom-file">
												<input type = "text" class="bg-danger">
												<input type="file" class="custom-file-input" id="productDetailimg" name="uploadFile" accept="image/*">
												<label id="label5" class="custom-file-label" for="productDetailimg">Choose File</label>
											</div>
											<div class="col-1">
												<button class="btn form-control btnDelete" hidden="true">삭제</button>
											</div>
										</div> -->
									</td>
								</tr>
								<tr>
									<th>등록일</th>
									<td>
										<input type="text" class="form-control-plaintext" id="productCreatedate" name="productCreatedate2" readonly />
									</td>
								</tr>
								<tr>
									<th>수정일</th>
									<td>
										<input type="text" class="form-control-plaintext" id="productUpdatedate" name="productUpdatedate2" readonly />
									</td>
								</tr>
								
							</table>
							<input type="hidden" name="postingState" value="게시중">
							<div class="float-right ">
								<button type="submit" class="btn btn-secondary" onClick="checkInputData();">수정</button>
								<button type="button" id="delProdBtn" class="btn btn-danger">삭제</button>
								<button type="button" class="btn btn-light" data-dismiss="modal">닫기</button>
							</div>
							<div>
								<input type="text" name="page" value=""> 
								<input type="text" name="size" value="">
								<div th:each="num : ${#numbers.sequence(0,4)}">
									<input type="text" name="type" value=""> 
									<input type="text" name="keyword" value="">
								</div>
								<input type="text" id="sort" name="colmnName" value="">
							</div>
							
						</form>
 					</div>
					

				</div>
 			</div>
		</div>

 		<script type="text/javascript" src="/js/productModify.js"></script>
	</div>
</body>
</html>