<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="admin/layout/layout1">
<head>
<meta charset="UTF-8">
<title>상품목록</title>
<th:block layout:fragment="style">
	<style>
.fileBox .fileName {
	background-color: #fff;
}

input{
	background-color: #fff;
}


 .fileBox input[type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0
}



</style>
</th:block>

</head>
<body>

	<div layout:fragment="content">
		<h3>📑 상품목록</h3>
		<hr class="mb-5">
		<div id="searchBox" class="mt-4">
			<div class="input-group mb-4">
				<div class="input-group-prepend">
					<span class="input-group-text">검색어</span>
				</div>
				<input type="text" id="searchKeyword1" class="form-control"
					th:value="${pageVO.keyword!=null?pageVO.keyword[0]:''}"
					placeholder="상품명 입력" onfocus="this.placeholder=''"
					onblur="this.placeholder='상품명 입력'"> <input type="text"
					id="searchKeyword2" class="form-control"
					th:value="${pageVO.keyword!=null?pageVO.keyword[1]:''}"
					placeholder="상품번호 입력" onfocus="this.placeholder=''"
					onblur="this.placeholder='상품번호 입력'">
			</div>
			<label for="selectPeriod">상품등록기간</label>
			<div class="form-row mb-2" id="selectPeriod">
				<!-- <span >From</span> -->
				<div class="col input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text"><i class="material-icons">date_range</i></span>
					</div>
					<input type="text" class="form-control datepicker" id="datepicker1"
						placeholder="&nbsp;날짜선택" name="datepicker"
						th:value="${pageVO.keyword!=null?pageVO.keyword[2]:''}">
				</div>
				<div class="mt-2 ml-3 mr-3">
					<span class="input-group-addon"><i class="material-icons">play_arrow</i></span>
				</div>
				<div class="col input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text"><i class="material-icons">date_range</i></span>
					</div>
					<input type="text" class="form-control datepicker" id="datepicker2"
						placeholder="&nbsp;날짜선택" name="datepicker"
						th:value="${pageVO.keyword!=null?pageVO.keyword[3]:''}">
				</div>
			</div>
			<label for="statePosting">게시상태</label>
			<div id="statePosting">
				<div class="form-check-inline">
					<label class="form-check-label"><input type="radio"
						class="form-check-input" id="all" name="postingState" value="전체"
						th:checked="${pageVO.keyword==null || pageVO.keyword[4]=='전체'}">전체</label>
				</div>
				<div class="form-check-inline">
					<label class="form-check-label"><input type="radio"
						class="form-check-input" value="정상" name="postingState"
						th:checked="${pageVO.keyword!=null && pageVO.keyword[4]=='정상'}">정상</label>
				</div>
				<div class="form-check-inline">
					<label class="form-check-label"><input type="radio"
						class="form-check-input" value="품절" name="postingState"
						th:checked="${pageVO.keyword!=null && pageVO.keyword[4]=='품절'}">품절</label>
				</div>
				<!-- 				<div class="form-check-inline">
					<label class="form-check-label"><input type="radio" class="form-check-input" value="게시종료" name="postingState" th:checked="${pageVO.keyword!=null && pageVO.keyword[4]=='게시종료'}">게시종료</label>
				</div> -->
			</div>
			<div class="d-flex justify-content-center mt-4">
				<div>
					<button class="btn mr-3" id="searchBtn"
						style="background-color: #f7edbc">
						<i class="material-icons pt-2 pl-3 pr-3">&nbsp;&nbsp;search&nbsp;&nbsp;</i>
					</button>
				</div>
				<div>
					<button class="btn" id="resetBtn"
						style="background-color: #fcc0c5;">
						<i class="material-icons pt-2 pl-3 pr-3">&nbsp;&nbsp;cached&nbsp;&nbsp;</i>
					</button>
				</div>
			</div>
		</div>

		<!-- 			<img alt="이미지" th:src="@{/images/coffee-blue.jpg}" width="50px"
				height="50px"> -->

		<hr class="mt-4 mb-5">
		<div></div>
		<div class="d-flex justify-content-between">
			<div>
				<p th:text="'총 ' + ${totalCount} + '건'"></p>
			</div>
			<div class="form-group" style="float: right; width: 190px;">
				<select id="sortColumn" class="form-control">
					<!-- asc desc 가져가는 방법 찾기 -->
					<option value="productCreatedate0"
						th:selected="${sortColumn=='productCreatedate0'}">최신순</option>
					<option value="productCreatedate1"
						th:selected="${sortColumn=='productCreatedate1'}">과거순</option>
					<option value="productName1"
						th:selected="${sortColumn=='productName1'}">상품명(ㄱ~ㅎ)</option>
					<option value="productName0"
						th:selected="${sortColumn=='productName0'}">상품명(ㅎ~ㄱ)</option>
					<option value="productNum1"
						th:selected="${sortColumn=='productNum1'}">상품번호(오름차순)</option>
					<option value="productNum0"
						th:selected="${sortColumn=='productNum0'}">상품번호(내림차순)</option>
				</select>
			</div>
		</div>
		<div>
			<table id="prdlist" class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>No.</th>
						<th>상품번호</th>
						<th>상품이미지</th>
						<th>상품명</th>
						<th>등록일</th>
						<th>게시상태</th>
						<th>홈페이지</th>
					</tr>
				</thead>
				<tbody id="myTable">
					<tr th:if="${#lists.size(productPaging.result.content)}==0">
						<td colspan="7" align="center">검색 조건에 맞는 상품이 없습니다.</td>
					</tr>
					<tr th:each="product, pstate:${productPaging.result.content}">
						<!-- 객체, status(반복상태변수)  -->
						<td
							th:text="${pstate.count + (productPaging.currentPageNum-1) * productPaging.currentPage.pageSize}"></td>
						<td th:text="${product.productNum}"></td>
						<td align="center" th:if="${#strings.startsWith(product.productMainimg1,'https')}">
							<img th:src="${product.productMainimg1}" width="80" height="80">
						</td>
						<td align="center" th:unless="${#strings.startsWith(product.productMainimg1,'https')}">
							<img th:src="|/${product.productMainimg1}|" width="80" height="80">
						</td>
						<td th:text="${product.productName}"></td>
						<td th:text="${#dates.format(product.productCreatedate, 'yyyy-MM-dd')}"></td>
						<td th:text="${product.postingState}"></td>
						<td><a th:href="@{/productdetail(pno=${product.productNum})}"
							onclick="event.cancelBubble=true" target='_blank'>바로가기</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- paging -->
		<nav>
			<div>
				<ul class="pagination justify-content-center">
					<li class="page-item" th:if="${productPaging.prevPage}"><a
						class="page-link" th:href="${productPaging.prevPage.pageNumber}+1">PREV</a>
					</li>
					<li class="page-item"
						th:classappend="${p.pageNumber==productPaging.currentPageNum-1}?active:''"
						th:each="p:${productPaging.pageList}"><a class="page-link"
						th:href="${p.pageNumber}+1">[[${p.pageNumber}+1]]</a></li>
					<li class="page-item" th:if="${productPaging.nextPage}"><a
						class="page-link" th:href="${productPaging.nextPage.pageNumber}+1">NEXT</a>
					</li>
				</ul>
			</div>
		</nav>
		<!-- hidden 변경 -->
		<form id="f1" th:action="@{list}" method="get">
			<input type="hidden" name="page"
				th:value="${productPaging.currentPageNum}"> <input
				type="hidden" name="size"
				th:value="${productPaging.currentPage.pageSize}">
			<div th:each="num : ${#numbers.sequence(0,4)}">
				<input type="hidden" name="type" value=""> <input
					type="hidden" name="keyword" value="">
			</div>
			<input type="hidden" id="sort" name="colmnName"
				th:value="${sortColumn}">
		</form>
		<div th:insert="~{admin/product/detailModal :: detailModal}"></div>
	</div>

	<th:block layout:fragment="script">
		<script th:inline="javascript">
			//jQuery는 ready를 여러번 쓸 수 있음. js는 불가능
			//수정완료 alert
			$(function() {
				var msg = [[${result}]];
				if(msg != null) {
					alert(msg);
				}
		
				//modal 띄우기
				$("#myTable").on("click", "tr", function(){
				    
					var tds = $(this).find("td");
			    	var rno = tds[1].innerHTML;
					
					$.ajax({
			            url:"/admin/detail?productNum=" + rno,
			            success:function(responseData){
							//모달열기 전에 옵션 지우기
							$("#addOptions").empty();
							$("#optionNum").val("");
							$("#optionCategory option:eq(0)").prop("selected", true);
			             	$("input[name='optionName']").val("");
			                $("input[name='optionPrice']").val("");
							putDataList(responseData);
							$("#myModal").modal("show");
			            }
			        });
				});
				
				function putDataList(responseData){
					var product = responseData.product; 
					var option = responseData.productOption;
					$("input[name='productNum']").val(product.productNum);
	                $("input[name='productName']").val(product.productName);
	                $("input[name='productPrice']").val(Number(product.productPrice).toLocaleString('en').split(".")[0]);
	                $("input[name='productCreatedate2']").val(product.productCreatedate);
	                $("input[name='productUpdatedate2']").val(product.productUpdatedate);
					
					$("input[name='file']").eq(0).val(product.productMainimg1);
					$("input[name='file']").eq(1).val(product.productMainimg2);
					$("input[name='file']").eq(2).val(product.productMainimg3);
					$("input[name='file']").eq(3).val(product.productMainimg4);
					$("input[name='file']").eq(4).val(product.productDetailimg);
	                
	                //체크박스 가져오기
	                 
	                $('input:checkbox[name=productCategory]').each(function(index, item){
	                	 
	                	if($.inArray($(item).val(), product.productCategory) >= 0 ){
	                		$(item).prop("checked", true);
	                	} else {
	                		$(item).prop("checked", false);
	                	}
	                });
	                
	                //옵션관련
	                //옵션 없을때
	             	if(option == null || option == "") {
	             		$('#optionNo').prop("checked",true);
	             		$("#demo").css("display", "none");
	             		
	             	} else {
		                //옵션 있을때
		                
		             	$('#optionYes').prop("checked",true);
						$("#demo").css("display", "block");
		                var categories = $('#optionCategory').find('option').map(function() {return $(this).val();}).get();
		                var checkCategory = categories.includes(option[0].optionCategory);
		                if(checkCategory == false){
		                	$('#optionCategory').val('Other').prop("selected",true);
		                	$("#writeOther").attr("type", "text");
		                	$("#writeOther").val(option[0].optionCategory);
		                } else {
		                	$('#optionCategory').val(option[0].optionCategory).prop("selected",true);
		                }
		                $("input[name='optionName']").val(option[0].optionName);
		                $("input[name='optionPrice']").val(Number(option[0].extraprice).toLocaleString('en').split(".")[0]);
						
		                
						for(var idx = 1; idx < option.length; idx++){
							var copyObj = $("#option2").clone(true);
							copyObj.appendTo("#addOptions");
							 $("input[name='optionName']").eq(idx).val(option[idx].optionName);
				             $("input[name='optionPrice']").eq(idx).val(Number(option[idx].extraprice).toLocaleString('en').split(".")[0]);
				             $("input[name='optionNum']").eq(idx).val(option[idx].optionNum);
						}

						//삭제버튼 1번째 x 2번째부터 o
						$(".deleteBtn").css("display", "block");
						$(".deleteBtn").first().css("display", "none");
						 //클론시 옵션라벨 보여주지 않기
						$(".optLable").css("display", "none");
						$(".optLable").slice(0, 2).css("display", "block");
						 // optionNum 있을 때, 삭제시 value ""로 변경후 hidden
						$('.deleteBtn').on('click', function () { 
					        if($(this).parent().next().children().val() != null) { //옵션번호
					        	$(this).parent().parent().find(".optionPrice").val("").attr("hidden", true);
					        	$(this).parent().parent().find("#optionName").val("").attr("hidden", true);
					        	$(this).parent().parent().find("#addOptionBtn").attr("hidden", true);
					        	$(this).parent().parent().find("#deleteOption").attr("hidden", true);
					        	$(this).parent().parent().find("#optionNum").attr("hidden", true);
					        } 
					     });

	             	}
				}
				
				
				//resetBtn 누를때
				$("#resetBtn").click(function(){
					var val = $("#searchBox").children('input');
					
					$('input').each(function(index, item){
						if(index < 4) {
							$(item).val('');
							$("input:radio[name ='postingState']:input[value='전체']").attr("checked", true);
						}
					});
					$("#f1").find("input[name='page']").val(1);
					$("#searchBtn").click();
				});
				
				//datepicker 사용
				$('.datepicker').datepicker({
			    	  weekStart: 0,
			    	  clearBtn: true,
			    	  language: "ko",
			    	  orientation: "bottom right",
			          keyboardNavigation: false,
			          forceParse: false,
			    	  autoclose: true,
			    	  todayBtn: "linked",
			    	  todayHighlight: true
			      });
			});
			
		
			$(function() {
				var formObj = $("#f1");
				
		    	//저장하고 난 후 input에 정보남기기
		    	var columnName = ["productName", "productNum", "from", "to", "postingState"];
		    	var columnValue = [[${pageVO.keyword}]];  //배열
		    	
		    	for(var idx = 0; columnValue!=null && idx < columnName.length; idx++){
		    		formObj.find("input[name='type']").eq(idx).val(columnName[idx]);
		    		formObj.find("input[name='keyword']").eq(idx).val(columnValue[idx]);
		    	}
				 
				if(formObj.find("[name='page']").val()==''){
					formObj.find("[name='page']").val(1);
				}
				
				//조건 검색시
				 
				$("#searchBtn").click(function() {
					
					formObj.find("input[name='type']").eq(0).val("productName");
					formObj.find("input[name='type']").eq(1).val("productNum");
					formObj.find("input[name='type']").eq(2).val("from");
					formObj.find("input[name='type']").eq(3).val("to");
					formObj.find("input[name='type']").eq(4).val("postingState");
					 
					formObj.find("input[name='keyword']").eq(0).val($("#searchKeyword1").val());
					formObj.find("input[name='keyword']").eq(1).val($("#searchKeyword2").val());
					formObj.find("input[name='keyword']").eq(2).val($("#datepicker1").val());
					formObj.find("input[name='keyword']").eq(3).val($("#datepicker2").val());
					formObj.find("input[name='keyword']").eq(4).val($("input:radio[name='postingState']:checked").val());
					
					if(formObj.find("[name='page']").val()==''){
						formObj.find("[name='page']").val(1);
					}
					
					formObj.submit();
				});
				
				
				$("#searchBox input").change(function(){ //값이 바껴서 커서가 바껴야함.(change)
					formObj.find("[name='page']").val(1);
				});
				
				//전체 sort시
				$("#sortColumn").change(function(){
					formObj.find("#sort").val($(this).val());
					$("#searchBtn").click();
				});
				
				//페이지 클릭시
				$(".pagination a").click(function(e) { //클래스 pagination 자식중 a 클릭시 
					e.preventDefault(); //링크취소
					formObj.find("[name='page']").val($(this).attr('href'));
					 
					$("#searchBtn").click(); //페이지만달라지고 다시 조회
					
					//다시 그 폼에서 이름이 page인걸 찾아서 href가 가지고 있는 숫자를 page(this) 값으로 넣어줌
					//formObj.submit(); //그리고 나서 submit > list로 다시 감. 그때 pageVO로 넘어가는 것
					//(controller에서 pagevo가 들어가는 것!)
				});
			});
			
/* 			//table sort(columnName 클릭시 sort)
			$(document).ready(function(){ 
				$('#prdlist th').each(function (column) { 
					$(this).click(function() { 
						if($(this).is('.asc')) { 
							$(this).removeClass('asc'); 
							$(this).addClass('desc');
							//th.appendChild('<i class="material-icons">expand_less</i>');
							sortdir=-1; 
						} else { 
							$(this).addClass('asc'); 
							$(this).removeClass('desc'); 
							sortdir=1; 
						} 
						
						$(this).siblings().removeClass('asc'); 
						$(this).siblings().removeClass('desc'); 
						var rec = $('#prdlist').find('tbody>tr').get(); 
						
						rec.sort(function (a, b) { 
							var val1 = $(a).children('td').eq(column).text().toUpperCase(); 
							var val2 = $(b).children('td').eq(column).text().toUpperCase(); 
							return (val1 < val2)?-sortdir:(val1>val2)?sortdir:0; 
						}); 
						$.each(rec, function(index, row) { 
							$('#prdlist tbody').append(row);
							}); 
						}); 
					}); 
				}); */

		</script>
	</th:block>
</body>
</html>