<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{/layout/layout1}">
<head>
<meta charset="UTF-8">
<title>web board Insert</title>
<th:block layout:fragment="style1">
	<style>
	 .myform { width:70%;   margin: 0 auto;  }
	</style>
</th:block>
</head>
<body>
 <div class="myform panel panel-default" layout:fragment="content1">
    <form action="insert" method="post">
     
    <div class="form-group">
      <label for="title">title:</label>
      <input type="text" class="form-control" id="title" name="title"  >
    </div>
    <div class="form-group">
      <label for="writer">writer:</label>
      <input type="text" class="form-control" id="writer" name="writer" 
                         th:value="${session.loginUser}">
    </div>
    <div class="form-group">
      <label for="content">content:</label>
      <input type="text" class="form-control" id="content" name="content" >     
    </div>
     
    <button type="submit" class="btn btn-default">입력하기</button>
  </form>
 </div>
</body>
</html>