<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="admin/layout/layout1">
<head>
<meta charset="UTF-8">
<title>재고확인</title>
<th:block layout:fragment="style">
	<style>
		.hidden-col {display: none}
	</style>
</th:block>


</head>
<body>

	<div layout:fragment="content">
		<h3>📑 재고현황</h3>
		<hr>
		<div id="searchBox" class="mt-5">
			<div class="input-group mb-5">
				<div class="input-group-prepend">
					<span class="input-group-text">검색어</span>
				</div>
				<input type="text" id="searchKeyword1" class="form-control"	th:value="${pageVO.keyword!=null?pageVO.keyword[0]:''}"
					placeholder="상품명 입력" onfocus="this.placeholder=''" onblur="this.placeholder='상품명 입력'"> 
				<input type="text" id="searchKeyword2" class="form-control" th:value="${pageVO.keyword!=null?pageVO.keyword[1]:''}"
					placeholder="상품번호 입력" onfocus="this.placeholder=''" onblur="this.placeholder='상품번호 입력'">
			</div>
		
			<div id="statePosting">
				<label for="statePosting" class="mr-4">재고상태</label>
				<div class="form-check-inline">
					<label class="form-check-label">
					<input type="radio" class="form-check-input" id="all" name="stockState" value="전체"
						th:checked="${pageVO.keyword==null || pageVO.keyword[4]=='전체'}">전체</label>
				</div>
				<div class="form-check-inline">
					<label class="form-check-label">
					<input type="radio" class="form-check-input" value="정상" name="stockState"
						th:checked="${pageVO.keyword!=null && pageVO.keyword[4]=='정상'}">정상</label>
				</div>
				<div class="form-check-inline">
					<label class="form-check-label">
					<input type="radio" class="form-check-input" value="부족" name="stockState"
						th:checked="${pageVO.keyword!=null && pageVO.keyword[4]=='부족'}">부족</label>
				</div>
				<div class="form-check-inline">
					<label class="form-check-label">
					<input type="radio"
						class="form-check-input" value="품절" name="stockState" 
						th:checked="${pageVO.keyword!=null && pageVO.keyword[4]=='품절'}">품절</label>
				</div>
			</div>
			<div class="d-flex justify-content-center mt-4">
				<div>
					<button class="btn mr-3" id="searchBtn"
						style="background-color: #f7edbc">
						<i class="material-icons pt-2 pl-3 pr-3">&nbsp;&nbsp;search&nbsp;&nbsp;</i>
					</button>
				</div>
				<div>
					<button class="btn" id="resetBtn"
						style="background-color: #fcc0c5;">
						<i class="material-icons pt-2 pl-3 pr-3">&nbsp;&nbsp;cached&nbsp;&nbsp;</i>
					</button>
				</div>
			</div>
		</div>
        
		<!-- 			<img alt="이미지" th:src="@{/images/coffee-blue.jpg}" width="50px"
				height="50px"> -->
		<hr class="mt-4 mb-5">
		<div class="d-flex justify-content-between">
			<div>
				<p th:text="'총 ' + ${totalCount} + '건'"></p>
			</div>
			<div>
				<p th:text="|${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')} 기준|"></p>
			</div>

			<div class="form-group" style="float:right; width:190px;">
				<select id = "sortColumn" class="form-control"> <!-- asc1 desc0 가져가는 방법 찾기 -->
					<option value="product_num0" th:selected="${sortColumn=='product_num0'}">상품번호(오름차순)</option>
					<option value="total_stock0" th:selected="${sortColumn=='total_stock0'}">총재고량 높은순</option>
					<option value="total_stock1" th:selected="${sortColumn=='total_stock1'}">총재고량 낮은순</option>
					<option value="sales_quantity0" th:selected="${sortColumn=='sales_quantity0'}">금일판매량 높은순</option>
					<option value="sales_quantity1" th:selected="${sortColumn=='sales_quantity1'}">금일판매량 낮은순</option>
					<option value="purchase_quantity0" th:selected="${sortColumn=='purchase_quantity0'}">금일입고량 높은순</option>
					<option value="purchase_quantity1" th:selected="${sortColumn=='purchase_quantity1'}">금일입고량 낮은순</option>
				</select>
			</div>
		</div>
		<div>
			<table id="stocklist" class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>No.</th>
						<th>상품번호</th>
						<th>상품명</th>
						<th class="hidden-col">옵션번호</th>
						<th>옵션</th>
 						<th>금일입고</th>
						<th>금일판매</th>
						<th>총재고수</th>
						<th>재고상태</th>
						<th>입고등록</th>
					</tr>
				</thead>
				<tbody id="myTable">
					<tr th:each="product, state:${stockPaging.result.content}" >
						<td th:text="${state.count + (stockPaging.currentPageNum-1) * stockPaging.currentPage.pageSize}"></td>
						<td th:text="${product[0]}"></td> 
						<td th:text="${product[1]}"></td>
						<td class="hidden-col" th:text="${product[3]}"></td> <!-- optionNum -->
 						<td th:text="${product[4]}"></td>
 						<td th:text="${product[8]}"></td>
 						<td th:text="${product[9]}"></td>
						<td class="stockQuantity" th:text="${product[10]}"></td>
						<td class="stockStatus"></td>
						<td >
							<a href="#" onclick = "pibtn(this);">입고하기</a> 
								<!-- The Modal -->
							<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false">
								<div class="modal-dialog modal-dialog-centered" style="max-width: 100%; width: auto; display: table;">
									<div class="modal-content">

										<!-- Modal Header -->
										<div class="modal-header">
											<h4 class="modal-title">입고등록</h4>
											<button type="button" class="close" data-dismiss="modal">&times;</button>
										</div>

										<!-- Modal body -->
										<div class="modal-body">
											<form action="stockregister" method="post" id="myfrm">
												<table id="stocklist"class="table table-bordered">
													<tr>
														<th>상품번호</th>
														<td>
															<input type="text" name="productNum" class="form-control-plaintext" readonly/>
														</td>
														<th>상품명</th>
														<td>
															<input type="text" name="productName" class="form-control-plaintext" readonly/>
														</td>
													</tr>
													<tr id="options">
														<th>옵션번호</th>
														<td>
															<input type="text" name="optionNum" class="form-control-plaintext" readonly/> <!-- form-control-plaintext -->
														</td>
														<th>옵션명</th>
														<td>
															<input type="text" name="optionName" class="form-control-plaintext" readonly/> <!-- form-control-plaintext -->
														</td>
													</tr>
													<tr>
														<th >단가</th>
														<td colspan="3" id="price"></td>
													</tr>
													<tr>
														<th>총재고수량</th>
														<td id="quantity"></td>
														<th>적정재고수량</th>
														<td><span>10</span></td>
													</tr>
													<tr>
														<th>입고수량</th>
														<td colspan="3">
															<input type="number" name="purchaseQuantity" class="form-control" min="0" max="1000" required/>
														</td>
	
													</tr>
	
												</table>
												<div class="float-right ">
													<button type="submit" class="btn" style="background-color: #f7edbc;" onClick="checkInputData();">등록</button>
												</div>
												<div>
													<input type="text" name="page" th:value="${stockPaging.currentPageNum}"> 
													<input type="text" name="size" th:value="${stockPaging.currentPage.pageSize}">
													<div th:each="num : ${#numbers.sequence(0,2)}">
														<input type="text" name="type" value=""> 
														<input type="text" name="keyword" value="">
													</div>
													<input type="text" id="sort" name="colmnName" th:value="${sortColumn}">
												</div>
											</form>
										
										</div>
									</div>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>	
		<!-- paging -->
		<nav>
		<!--  페이지 없을때(previous, next) .disabled 추가 -->
			<div>
				<ul class="pagination justify-content-center">
					<li class="page-item" th:if="${stockPaging.prevPage}">
						<a class="page-link" th:href="${stockPaging.prevPage.pageNumber}+1">PREV</a>
					</li>
					<li class="page-item" th:classappend="${p.pageNumber==stockPaging.currentPageNum-1}?active:''"
						th:each="p:${stockPaging.pageList}">
						<a class="page-link" th:href="${p.pageNumber}+1">[[${p.pageNumber}+1]]</a>
					</li>
					<li class="page-item" th:if="${stockPaging.nextPage}">
						<a class="page-link" th:href="${stockPaging.nextPage.pageNumber}+1">NEXT</a>
					</li>
				</ul>
			</div>
		</nav>


 		//추후 hidden으로 변경
		<form id="f1" th:action="@{stock}" method="get" >
			<input type="text" name="page" th:value="${stockPaging.currentPageNum}"> 
			<input type="text" name="size" th:value="${stockPaging.currentPage.pageSize}">
			<div th:each="num : ${#numbers.sequence(0,2)}">
				<input type="text" name="type" value=""> 
				<input type="text" name="keyword" value="">
			</div>
			<input type="text" id="sort" name="colmnName" th:value="${sortColumn}">
		</form>
		

	</div>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
		//입고성공시 alert
		var msg = [[${insertResult}]];
				if(msg != null) {
					alert(msg);
				}
		
		//재고 상태 입력
		var stockQuantity = document.getElementsByClassName("stockQuantity");
		var stockStatus = document.getElementsByClassName("stockStatus");
		console.log(stockQuantity);
 		for(var i = 0; i < stockQuantity.length; i++) {
			console.log(stockQuantity[i].innerHTML);
			var quantity = Number(stockQuantity[i].innerHTML);
			if(quantity <= 0) {
				stockStatus[i].innerHTML = "품절"
			} else if(quantity < 10) {
				stockStatus[i].innerHTML = "부족"
			} else {
				stockStatus[i].innerHTML = "정상"
			}
		} 
		
		//입고등록 모달에 정보 보내기
		function pibtn (obj) {
			var tds = $(obj).parent().parent().find("td"); //여러개
	    	var pno = tds[1].innerHTML;
			var ono = tds[3].innerHTML;
			
			if (ono== "" ) ono = 0;
			
			alert(ono);
			alert(pno);
			
			$.ajax({
	            url:"/admin/stockinfo?productNum=" + pno + "&optionNum=" + ono, 
	            success:function(responseData){
	            	console.log(responseData.product);
	            	console.log(responseData.productOption);
	            	$("#options").attr("style", "display:'';");
 					$("input[name='purchaseQuantity']").val("");
					putDataList(responseData);
	                $("#myModal").modal("show");
	            }
	        }); 
			
		}
		
		function putDataList(responseData) {
			var product = responseData.product;
			var option = responseData.productOption;
			console.log("option: " + option);
			$("input[name='productNum']").val(product.productNum);
			$("input[name='productName']").val(product.productName);
			if(option != null){
				$("input[name='optionNum']").val(option.optionNum);
				$("input[name='optionName']").val(option.optionName);
				var price = product.productPrice + option.extraprice;
				$("#price").text(Number(price).toLocaleString('en').split(".")[0] + '원');
				$("#quantity").text(option.optionStock);
			} else {
				$("#options").attr("style", "display:none;");
				$("#price").text(Number(product.productPrice).toLocaleString('en').split(".")[0] + '원');
				$("#quantity").text(product.productStock);
			}
		}
		
		var formObj = $("#f1");
		//페이지 클릭시
		$(".pagination a").click(function(e) { //클래스 pagination 자식중 a 클릭시 
			alert($(this).attr('href'));
			e.preventDefault(); //링크취소
			formObj.find("[name='page']").val($(this).attr('href'));
			$("#searchBtn").click(); //페이지만달라지고 다시 조회
			//다시 그 폼에서 이름이 page인걸 찾아서 href가 가지고 있는 숫자를 page(this) 값으로 넣어줌
			//formObj.submit(); //그리고 나서 submit > list로 다시 감. 그때 pageVO로 넘어가는 것
			//(controller에서 pagevo가 들어가는 것!)
		});
		
		//조건 검색시
		$("#searchBtn").click(function() {
			
			formObj.find("input[name='type']").eq(0).val("productName");
			formObj.find("input[name='type']").eq(1).val("productNum");
			formObj.find("input[name='type']").eq(2).val("stockState");
			 
			formObj.find("input[name='keyword']").eq(0).val($("#searchKeyword1").val());
			formObj.find("input[name='keyword']").eq(1).val($("#searchKeyword2").val());
			formObj.find("input[name='keyword']").eq(4).val($("input:radio[name='stockState']:checked").val());

			if(formObj.find("[name='page']").val()==''){
				formObj.find("[name='page']").val(1);
			}
			formObj.submit();
		});
	
		$("#searchBox input").change(function(){ 
			formObj.find("[name='page']").val(1);
		});
		
		//resetBtn 누를때
		$(function() {
			$("#resetBtn").click(function(){
				$('input').each(function(index, item){
					console.log()
					$(item).val('');
				});
			});
		});
		
		//전체 sort시
		$("#sortColumn").change(function(){
			alert($(this).val());
			formObj.find("#sort").val($(this).val());
			$("#searchBtn").click();
		});
		
		// 입고등록 시 알림창
		$("#myfrm").submit(function() {
				if(confirm('입고등록을 하시겠습니까?') == true){
					return true;
				}
				alert('취소되었습니다.');
				return false;
		});
		
		// 입고등록 시 해당페이지정보 가져가기
		function checkInputData(){
			$("#myfrm").find("input[name='page']").val($("#f1").find("input[name='page']").val());
			$("#myfrm").find("input[name='size']").val($("#f1").find("input[name='size']").val());
			$("#myfrm").find("input[name='colmnName']").val($("#f1").find("input[name='colmnName']").val());
			for(var i = 0; i <2; i++) {
				$("#myfrm").find("input[name='type']").eq(i).val($("#f1").find("input[name='type']").eq(i).val());
				$("#myfrm").find("input[name='keyword']").eq(i).val($("#f1").find("input[name='keyword']").eq(i).val());
			}
		}
		
		</script>
	</th:block>

		
<!-- 	<th:block layout:fragment="script">
		<script>
			//jQuery는 ready를 여러번 쓸 수 있음. js는 불가능
			
			//modifyModal띄우기
/* 			$("#myTable").on("click", "tr", function(){
				//ajax로 서버에 다녀오기 ...상품의 옵션을 가지러간다. 
/* 				$.ajax({
					url:"/admin/detail/[[${product.productNum}]]",
					data:{"productNum": $(this).find("td")[1].html()},   
					success:function(responseData){
						//JSON을 가져오기 {"키":"값 ", , , , , , ,}
						//modal에 setting 
					}
				});
				
				$("#myModal").modal("show");
			}); */

			//
			function fnModuleInfo(str){
			   $('#MoaModal .modal-content').load("moaModal?id="+str);
			   $('#MoaModal').modal();
			}
			
 			//datepicker 사용
			  $(function(){
			      $('.datepicker').datepicker({
			    	  weekStart: 0,
			    	  clearBtn: true,
			    	  language: "ko",
			    	  orientation: "auto right",
			          keyboardNavigation: false,
			          forceParse: false,
			    	  autoclose: true,
			    	  todayHighlight: true
			      });
			  });

	
		</script>
	</th:block>
 --></body>
</html>