<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="user/layout/layout_main">
<head>
<meta charset="UTF-8">
<title>장바구니</title>

</head>
<body>
	<!-- 재정의 받는 곳-->
<form action="/cartlist" method="post" id="cartlistForm" name="cartlistForm">
	<div class="panel panel-default" layout:fragment="content" align="center">
	<table class="table table-striped table-bordered table-hover" >
		<thead>
			<tr>
				<th>	            	
					<input type="checkbox" name="ckb" id="checkall" onclick="checkAll()">전체선택					
	            </th>		 
				<th>이미지</th>
				<th>상품명</th> 
				<th>옵션</th>
				<th>수량</th> 
				<th>판매가</th> 
				<th>추가금액</th> 
				<th>합계</th>
				<th></th>				
			</tr>
		</thead>	
		<tr th:if="${#lists.size(clist)}==0">
			<td colspan="9">장바구니에 담긴 상품이 없습니다.</td>
		</tr>
		<tr th:each="cart:${clist}">
			<td>
				<input type="checkbox" name="cartChkBox" th:value="${cart[5]}">			
			</td>
			
			<td >
				<img th:src="${cart[0]}" th:width="150">
			</td>
			<td th:text="${cart[1]}"></td>
			<td th:text="${cart[7]==null?'없음':cart[7]}"></td>
		<!-- 수량 -->				
			<td>	       		  		
	       		<input type="number" name="countName" th:id="'count' + ${cart[5]}"
	       		 th:value="${cart[2]}" min="1" onchange="changeCount(this)"> 	       		   		      		
       		</td>
       	<!-- 판매가 -->				
			<td th:id="'price' + ${cart[5]}" th:data-price="${cart[3]}" 
				th:text="|${#numbers.formatInteger(cart[3], 0, 'COMMA')}원|"></td>
		<!-- 추가금액 -->	
			<td th:id="'extraPrice' + ${cart[5]}" th:data-extra="${cart[8]}"
				th:text="|${#numbers.formatInteger(cart[8]!=null?cart[8]:0, 0, 'COMMA')}원|"></td>
		<!-- 합계  -->	
			<td th:id="'totalPrice' + ${cart[5]}" th:class="totalPrice"></td>
								
			<td>
				<button type="button" class="btn btn-danger btndelete" 
			       th:onclick="javascript:deleteCart([[${cart[5]}]])">삭제</button> 
			</td>
			<td><input type="hidden" th:id="cartnum" th:value="${cart[5]}"></td>
		</tr>
		</table>
		<!-- <div align="right">
			<input type="button" value="전체삭제" class="btn btn-danger btn-sm" onclick="deleteValue();">
		</div> -->
		<br>
		<h5>
		</h5>
		<h2 class="text-center">
			주문 예상 금액:<span id="orderTotalPrice" class="text-danger">0원</span>
		</h2>
		<div style="font-size: 15px; font-weight: bold;">배송비:3,000원 (50,000원 이상 무료배송)</div>
		<!-- <button>전체상품주문</button>	 -->	
		<br>
	
		<button type="button" class="btn btn-secondary btn-lg" onclick="goOrders()">선택주문</button>	
	</div>
</form>
<th:block layout:fragment="script">
	<script>
	
	function deleteCart(cartNo){//삭제
		alert("담아놓은 상품을 정말 삭제하시겠습니까?");
		location.href="cart/delete?cartNum=" + cartNo;		 
	}
	
	function deleteAllCart(cartNo){//전체삭제
		alert("담아놓은 상품을 정말 삭제하시겠습니까?");
		location.href="cart/delete?cartNum=" + cartNo;		 
	}
	
	function updateCartItemCount(cartNum, count){//수량 변경
		if (confirm("수량을 변경하시겠습니까?") == true){//확인
			var url = "/cartlist/" + cartNum+"?count=" + count;
			$.ajax({
		           url      : url,
		           type     : "PATCH",
		           dataType : "json",
		           cache   : false, //캐쉬 막아서 현재 값 호출
		           success  : function(result, status){
					console.log("cartNum count update success");
		           },
		    });		    
		 }else{   //취소
		     return;
		 }      
    }	
	
	$(document).ready(function(){
		
		$("input[name='cartChkBox']").change(function(){//주문상품 체크하거나 해제할 경우 총 주문액	
			//alert("input[name='cartChkBox']");
			getOrderTotalPrice();
		});
	});
	
	function getOrderTotalPrice(){//총 주문 금액 구하는 함수
		var orderTotalPrice = 0;
	 
		$("input[name='cartChkBox']:checked").each(function(){//현재 체크된 장바구니의 상품들의 가격과 수량 곱해서 총 주문액 계산
			
			var cartNum = $(this).val();
            var price = $("#price" + cartNum).attr("data-price");
            var extraPrice = Number($("#extraPrice" + cartNum).attr("data-extra"));
            var count = $("#count" + cartNum).val();
            
            console.log(price);
		    //console.log("extraPrice:"+extraPrice);		    
		   	console.log(count);
		   	
            if(isNaN(extraPrice)){
            	extraPrice = 0;
            	console.log("extraPrice:"+extraPrice);
            }
            orderTotalPrice += (price*count)+(extraPrice*count);
            
            //합계 계산되는 코드
            totalPrice = (count*price)+(extraPrice*count);
           	$("#totalPrice" + cartNum).html(totalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+"원");
		   							
		});
		
		if(orderTotalPrice<50000) orderTotalPrice+=3000;
			console.log(orderTotalPrice);
		
		
		$("#orderTotalPrice").html(orderTotalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+'원');
		
		
	}
	
	function changeCount(obj){//장바구니에 들어있는 수량 변경시 상품 가격과 수량 곱해줌
		var count = obj.value;
        var cartNum = obj.id.split('t')[1];
        var price = $("#price" + cartNum).data("price");
        var extraPrice = Number($("#extraPrice" + cartNum).attr("data-extra"));
        
        if(isNaN(extraPrice)){
        	extraPrice = 0;
        	console.log("extraPrice:"+extraPrice);
        }
        
        totalPrice = (count*price)+(extraPrice*count);
         		 
        $("#totalPrice" + cartNum).html(totalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+"원");
        getOrderTotalPrice();
        updateCartItemCount(cartNum, count);
	}
	
	function checkAll(){//전체 체크하거나 해제
		if($("#checkall").prop("checked")){
			$("input[name='cartChkBox']").prop("checked", true);
		}else{
			$("input[name='cartChkBox']").prop("checked", false);
		}
		getOrderTotalPrice();//변경된 총 주문 금액 계산하기 위해서
	}
	
	/*체크박스에 체크한 상품(상품번호,주문수량)을 가지고 주문 페이지로 이동*/
	function goOrders(){
		 var url = "/order";

         var dataList = new Array();
         var paramData = new Object();
         
         var arr=[];
         $("input[name='cartChkBox']:checked").each(function() {//체크된 장바구니 상품 아이디 전달하기 위해
             var cartNum = $(this).val();		//datalist 배열에 장바구니 상품 아이디를 객체로 만들어서 저장
             var data = new Object();
             data["cartNum"] = cartNum;
             dataList.push(data); //[{"cartNum":10}, {"cartNum":20}]
             arr.push("cartNum=" + cartNum);
         });

         paramData['cartlist'] = dataList;//장바구니 상품 아이디를 저장하고 있는 datalist를 paramData객체에 추가
        //var param = JSON.stringify(paramData);
        //alert(dataList);
         console.log(arr.join("&"));
         alert("선택한 상품을 주문하시겠습니까?");
         location.href='order?' + arr.join("&") ;
         
	}

</script>
</th:block> 
</body>
</html>    


