<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="user/layout/layout_main">
<head>
<meta charset="UTF-8">
<title>장바구니목록</title>

</head>
<body>
	<!-- 재정의 받는 곳-->
<form action="/cartlist" method="post" id="cartlistForm" name="cartlistForm">
	<div class="panel panel-default" layout:fragment="content" align="center">
		<table  class="table table-striped table-bordered table-hover" >
			<tr>
				<th>	            	
					<input type="checkbox" name="ckb" id="checkall" onclick="checkAll()">전체선택					
	            </th>		 
				<th>이미지</th>
				<th>상품명</th> 
				<th>수량</th> 
				<th>단가</th> 
				<th>총금액</th> 
				<th></th>
				<th></th>
			</tr>
		<tr th:each="cart:${clist}">
			<td>
				<input type="checkbox" name="cartChkBox" th:value="${cart[5]}">			
			</td>
			
			<td >
				<img th:src="${cart[0]}" th:width="150">
			</td>
			<td th:text="${cart[1]}"></td>
						
			<td>
				<!-- <input type='button' th:onclick='count("minus")' value='-'/> 
				<span th:name="countName" th:id="count" th:text="${cart[2]}"></span>      		
	       		<input type='button' th:onclick='count("plus")' value='+'/> -->
	       		  		
	       		<input type="number" name="countName" th:id="'count' + ${cart[5]}"
	       		 th:value="${cart[2]}" min="1" onchange="changeCount(this)"> 
	       		<button type="button" class="btn btn-danger btndelete" 
			       th:onclick="javascript:updateCount([[${cart[2]}]])">수정</button>     		      		
       		</td>
       					
			<td th:id="'price' + ${cart[5]}" th:data-price="${cart[3]}" th:text="${cart[3]}+ '원'"></td>
			<!-- th:text="${#numbers.formatInteger(cart[3],0,'COMMA')}+'원'" -->
			<td th:id="'totalPrice' + ${cart[5]}" th:name="totalPriceName" th:text="${cart[4]}+ '원'"></td>			
			<!-- th:text="${#numbers.formatInteger(cart[4],0,'COMMA')}+'원'" -->
			<td>
			<button type="button" class="btn btn-danger btndelete" 
			       th:onclick="javascript:deleteCart([[${cart[5]}]])">삭제</button> 
			</td>
			<td th:id="cartnum" th:text="${cart[5]}"></td>
		</tr>
		</table>
		<h2 class="text-center">
			총 주문 금액:<span id="orderTotalPrice" class="text-danger">0원</span>
		</h2>
		<!-- <button>전체상품주문</button>	 -->	
		<button type="button" class="btn btn-primary btn-lg" onclick="goPurchase()">button주문</button>	
		<input type="submit" class="btn btn-primary btn-lg" onclick="goPurchase()" value="input주문">	
	</div>
</form>
<th:block layout:fragment="script">
	<script>
	function deleteCart(cartNo){//삭제
		alert(cartNo);
		location.href="cart/delete?cartNum=" + cartNo;		 
	}
	
	function updateCount(cartNo, count){//수량변경
		alert(cartNo);
		location.href="cart/update?cartCount=" + count;		
	}
	
	$(document).ready(function(){//주문상품 체크하거나 해제할 경우 총 주문액
		$("input[name='cartChkBox']").change(function(){
			//alert("input[name='cartChkBox']");
			getOrderTotalPrice();
		});
	});
	
	function getOrderTotalPrice(){//총 주문 금액 구하는 함수
		var orderTotalPrice = 0;
	 
		$("input[name='cartChkBox']:checked").each(function(){//현재 체크된 장바구니의 상품들의 가격과 수량 곱해서 총 주문액 계산
			
			var cartNum = $(this).val();
            var price = $("#price" + cartNum).attr("data-price");
            var count = $("#count" + cartNum).val();
			
		    console.log(price);
		   	console.log(count);

		    orderTotalPrice += price*count;
		    
			if(orderTotalPrice>=100000){
				console.log(orderTotalPrice);
			}else{
				orderTotalPrice+=2500;
			}
		     
		});
		$("#orderTotalPrice").html(orderTotalPrice+'원');
	}
	
	function changeCount(obj){//장바구니에 들어있는 수량 변경시 상품 가격과 수량 곱해줌
		var count = obj.value;
        var cartNum = obj.id.split('t')[1];
        var price = $("#price" + cartNum).data("price");
        var totalPrice = count*price;
        
        console.log(count);
        console.log(cartNum);
        console.log(price);
        console.log(totalPrice);
         		 
        $("#totalPrice" + cartNum).html(totalPrice+"원");
	}
	
	function checkAll(){//전체 체크하거나 해제
		if($("#checkall").prop("checked")){
			$("input[name='cartChkBox']").prop("checked", true);
		}else{
			$("input[name='cartChkBox']").prop("checked", false);
		}
		getOrderTotalPrice();//변경된 총 주문 금액 계산하기 위해서
	}
	
	/*체크박스에 체크한 상품(상품번호,주문수량)을 가지고 주문 폼 페이지로 이동*/
	function goPurchase(){
		//1. 장바구니에 담긴 상품이 없는 경우
		var chk=$('input[name="cartChkBox"]');
		if(chk.length==0){
			return;
		}
		//2. 담긴 상품이 있다면 체크박스 갯수 만큼 반복문 돌면서 체크한 상품과 체크 안된 상품을 구분하여, 체크 안된 상품의 주문 수량은 서버쪽에 적송되지 않도록 disabled 처리한다.
		var cnt =0;
		$.each(chk,function(i,ch){
			if($(ch).is(":checked")){
				cnt++;
				$('#oqty'+(i+1)).prop('disabled',false);//비활성화
			}else{
				//체크 안된 상품의 주문 수량 비활성화 
				$('#oqty'+(i+1)).prop('disabled',true);//비활성화
			}
		});

		if(cnt==0){
			alert('주문할 상품을 체크하세요');
			$('input[name="oqty"]').prop('disabled',false);//비활성화
			return;	
		}
		cartlistForm.submit();
		console.log(cartlistForm.submit());
	}

	</script>
</th:block> 
</body>
</html>    


