<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="user/layout/layout_main">

<head>

<meta charset="UTF-8">
<title>회원가입</title>
<style>
	table{
		border-collapse: separate;
		border-spacing: 0 1rem;
	}
	.ui-datepicker-trigger{
	
		width:35px !important;
		height:35px !important;
	}
</style>

</head>
<body>
<div class="panel panel-default" layout:fragment="content" align="center">
	<br>
	<br>
	<br>
	<h2 id="title" align="left" style="width:700px;">일반회원가입</h2>
	<br>
	<br>
	<input type="text" id="param_method" th:value="${param_method}" hidden="true">
	<form action="/register/insert" method="post" id="registerForm" style="width:1200px;">
		<table>
			<tr id="tr_userId">
				<th>아이디&nbsp;</th>
				<td>
				
					<div class='input-group' style="width:300px;">
						<input class="form-control"  type="text" name="userId" id="userId" th:value="${userId}" placeholder="아이디를 입력해 주세요" style="width:150px;">
						<button class="form-control btn btn-dark" type="button" id="btn_check_userId" style="width:30px;">중복확인</button>
				
					</div>
				</td>
			</tr>
			
			<tr id="tr_userEmail">
				<th>이메일&nbsp;</th>
				<td><input type="text" class="form-control" name="userEmail" id="userEmail" th:value="${userEmail}" readOnly required="required" style="width:250px;"></td>
			</tr>
			
			<tr id="tr_userPw">
				<th>비밀번호&nbsp;</th>
				<td>
					<div style="width:300px;">
						<input class="form-control" type="password" name="userPw" id="userPw" required="required" placeholder="영문 또는 숫자조합으로 8~12자">
					</div>
					
					
				</td>
			</tr>
			<tr id="tr_userPw_confirm">
				<th>비밀번호확인&nbsp;</th>
				<td>
					<div style="width:300px;">	
						<input class="form-control" type="password" id="userPw_confirm">
					
					</div>
				</td>
			</tr>
			<tr>
				<th>휴대폰번호&nbsp;</th>
				<td>
					<div class="form-inline">
						<select id="userPhone1" th:value="${userPhone1}" class="form-control" style="width:80px;">
							<option value="" th:selected="${userPhone1}==''">선택</option>
							<option value="010" th:selected="${userPhone1}=='010'">010</option>
							<option value="011" th:selected="${userPhone1}=='011'">011</option>
						</select>
						&nbsp;-&nbsp;
						<input class="form-control" type="text" id="userPhone2" th:value="${userPhone2}" required="required" style="width:80px;">
						&nbsp;-&nbsp;
						<input class="form-control" type="text" id="userPhone3" th:value="${userPhone3}" required="required" style="width:80px;">
						&nbsp;&nbsp;
						<button class="btn btn-dark" id="btn_auth" type="button" style="display:inline;">인증요청</button>
				
					</div>
				</td>
			</tr>
			<tr id="tr_auth_num">
				<th></th>
				<td>
					<div style="width:300px;" class="input-group">
						<input class="form-control" type="text" name="auth_num" id="auth_num" style="width:150px;">
						<input type="text" name="auth_num_data" id="auth_num_data" hidden="true">
						<input class="form-control btn btn-dark" type="button" value="인증확인" id="btn_auth_check" style="width:30px;">
					</div>
					
				</td>
			</tr>
			<tr id="tr_input_email">
				<th>이메일&nbsp;</th>
				<td>
					<div class="form-inline">
						<input class="form-control" type="text" id="emailHead">&nbsp;@&nbsp;
						<div class='input-group'>
							<input class="form-control" type="text" id="emailTail" readOnly>
							<select class="form-control" id="selectEmailTail">
								<option selected="selected" value="">선택하기</option>
								<option id="naver">naver.com</option>
								<option id="daum">daum.net</option>
								<option id="inputText">직접입력</option>
							</select>
						</div>

					</div>

				</td>
			</tr>
			<tr>
				<th>이름</th>
				<td>
					<div style="width:200px;">
						<input class="form-control" type="text" name="userName" th:value="${userName}" required="required" >
					</div>
					
				</td>
			</tr>
			<tr>
				<th>생년월일&nbsp;</th>
				<td>
					<div class="input-group" style="width:200px;" id="div_userBirth">
					
						<input class="form-control" type="text" name="userBirth" id="userBirth" th:value="${userBirth}" required="required" readOnly>
						
					</div>
				
				</td>
			</tr>
			
			<tr>
				<th>주소&nbsp;</th>
				<td>
					<div class='input-group'>
						<input type="text" class="form-control" name="userAddress" id="userAddress" readOnly required="required">
						<input type="text" class="form-control" name="userPostcode" id="userPostcode" required="required">
					</div>
					
				</td>
			</tr>
			
			<tr>
				<th>상세주소&nbsp;</th>
				<td><input class="form-control" type="text" name="userAddressDetail"></td>
			</tr>
	
		</table>
	
		<!-- hidden -->
		<input type="text" id="userPhone" name="userPhone" hidden="true">
		<input type="text" id="joinPlatform" name="joinPlatform" value="normal" hidden="true">
		<input type="text" th:value="${T(com.goodmeaning.vo.UserRole).USER}" name="userRole" hidden="true">
	
	
		<!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> -->
		<br>
		<br>
		<br>
		<div class="input-group" style="width:250px;">
			<input class="form-control btn btn-light" type="button" id="btn_cancel" value="취소">
			<input class="form-control btn btn-secondary" type="submit" value="회원가입">
		</div>
		
		<br>
		<br>


	</form>


</div>


</body>
<th:block layout:fragment="script">
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<script>

$(function () {
	
	// 아이디 중복확인 
	$("#btn_check_userId").click(function(){
		$.ajax({
			type: "GET",
			url: "/register/checkUserId",
			data:{
				userId: $("#userId").val()
			},
			success: function(data){
				if(data.result == true)
					$("#userId").attr('class','form-control is-invalid');
				else $("#userId").attr('class','form-control is-valid');
				
			}
		});
	})
	
	// 파라미터가 카카오이면 
	// 아이디 hidden 처리 
	if($("#param_method").val()=='kakao'){
		$("#tr_userId").hide();
		$("#title").text("카카오로 회원가입");
		$("#tr_userPw").hide();
		$("#tr_userPw_confirm").hide();
		$("#userPw").prop('required',false);
		
	}
	
	// 파라미터가 네이버이면
	// 아이디 hidden 처리, 이메일/이름/생년월일/핸드폰번호 readOnly 처리 
	if($("#param_method").val()=='naver'){
		$("#tr_userId").hide();
		$("#title").text("네이버로 회원가입");
		$("#tr_userPw").hide();
		$("#tr_userPw_confirm").hide();
		
		$("#userEmail").prop('readonly', true);
		$("#userName").prop('readonly', true);
		$("#userBirth").prop('readonly', true);
	 	$("#userPhone1").prop('readonly', true);
		$("#userPhone2").prop('readonly', true);
		$("#userPhone3").prop('readonly', true);
		$("#userPw").prop('required',false);
		$("#tr_auth_num").hide();
		$("#btn_auth").hide();
		
		
	}
	// userEmail이 안들어왔으면 
	// email(full) hidden 처리, input_email show 처리 
	if($("#userEmail").val()==''){
		$("#tr_userEmail").hide();
		$("#tr_input_email").show();
	}
	else{
		$("#tr_userEmail").show();
		$("#tr_input_email").hide();
	}
	
	
	console.log($("#userEmail").val());
	
	
	// 주소 api
	$("#userAddress").click(function(){
		
		new daum.Postcode({
			oncomplete: function(data) {
				$("#userAddress").val(data.address);
				$("#userPostcode").val(data.zonecode);
				$("input[name=userAddressDetail]").focus();
			}
			
		}).open();
	});
	
	// 이메일 
	$("#selectEmailTail").change(function(){
		if($("#selectEmailTail").val() == "직접입력"){
			$("#emailTail").val("");
			$("#emailTail").attr("readOnly",false);
			
		}else{
			$("#emailTail").val($("#selectEmailTail").val());
			$("#emailTail").attr("readOnly",true);
			
		}
		
	});
	
	// submit 버튼 눌렀을 때
	// 1. userEmail = emailHead + emailTail
	// 2. method에 따라 joinPlatform 변경 
	// 3. userPhone 입력 
	$("#registerForm").submit(function(){
		
 		if($("#userEmail").val()==''){
			$("#userEmail").val($("#emailHead").val()+'@'+$("#emailTail").val());
		}
		if($("#param_method").val()!='' && $("#param_method").val()!=null){
			$("#joinPlatform").val($("#param_method").val());
		} 
		
		$("#userPhone").val($("#userPhone1").val()+$("#userPhone2").val()+$("#userPhone3").val());
		
		
		
	});
	
	// datepicker
	$(function() {
		/* if($("#param_method").val() != 'naver'){ */
		       //input을 datepicker로 선언
		$("#userBirth").datepicker({
		    dateFormat: 'yy-mm-dd' //달력 날짜 형태
		    ,showOtherMonths: true //빈 공간에 현재월의 앞뒤월의 날짜를 표시
		    ,showMonthAfterYear:true // 월- 년 순서가아닌 년도 - 월 순서
		    ,changeYear: true //option값 년 선택 가능
		    ,changeMonth: true //option값  월 선택 가능                
		    ,showOn: "both" //button:버튼을 표시하고,버튼을 눌러야만 달력 표시 ^ both:버튼을 표시하고,버튼을 누르거나 input을 클릭하면 달력 표시  
		    ,buttonImage: "/img/calendar.png" //버튼 이미지 경로
		    ,buttonImageOnly: true //버튼 이미지만 깔끔하게 보이게함
		    ,buttonText: "선택" //버튼 호버 텍스트              
		    ,yearSuffix: "년" //달력의 년도 부분 뒤 텍스트
	     	,monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'] //달력의 월 부분 텍스트
		    ,monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'] //달력의 월 부분 Tooltip
		    ,dayNamesMin: ['일','월','화','수','목','금','토'] //달력의 요일 텍스트
		    ,dayNames: ['일요일','월요일','화요일','수요일','목요일','금요일','토요일'] //달력의 요일 Tooltip
		    ,minDate: "-100Y" //최소 선택일자(-1D:하루전, -1M:한달전, -1Y:일년전)
			,maxDate: "+1D" //최대 선택일자(+1D:하루후, -1M:한달후, -1Y:일년후)  
		});                    
		       
		       //초기값을 오늘 날짜로 설정해줘야 합니다.
		$('#datepicker').datepicker('setDate', 'today'); //(-1D:하루전, -1M:한달전, -1Y:일년전), (+1D:하루후, -1M:한달후, -1Y:일년후)  
	
	});
	
	$("#userPw").on('input',function(){
		
		if(/^[a-zA-Z0-9]{8,20}$/.test($(this).val())){
			$("#userPw").attr('class','form-control is-valid');
		}
		else{
			$("#userPw").attr('class','form-control');
		}
	});
	
	$("#userPw_confirm").on('input',function(){
		if($("#userPw").val()==$(this).val()){
			$("#userPw_confirm").attr('class','form-control is-valid');
		}
		else{
			$("#userPw_confirm").attr('class','form-control');
		}
	});
	
	$("#btn_auth").on('click',function(){
		if($("#userPhone1").val()=="" || $("#userPhone2").val()=="" || $("#userPhone3").val()=="") 
			alert("휴대폰 번호를 입력해 주세요.");
		else{
			$("#userPhone").val($("#userPhone1").val()+$("#userPhone2").val()+$("#userPhone3").val());
	
			$.ajax({
				type: "POST",
				url: "/register/authUserPhone",
				data:{
					userPhone: $("#userPhone").val()
				},
				success: function(data){
					alert("인증번호가 발송되었습니다.");
					$("#auth_num_data").val(data.authNum);
					
				}
			});
		}
		
	})
	
	$("#btn_auth_check").on('click',function(){
		if($("#auth_num").val()=="") alert("발송된 인증번호를 입력해 주세요.");
		else if($("#auth_num").val()==$("#auth_num_data").val()){
			alert("휴대폰 인증에 성공하였습니다!");
		}
		else{
			alert("휴대폰 인증에 실패하였습니다. 다시 입력해 주세요.");
		}
	})
	

	
});


</script>
</th:block>
</html>