<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="user/layout/layout_main">

<head>

<meta charset="UTF-8">
<title>회원가입</title>

</head>
<body>
<div class="panel panel-default" layout:fragment="content" align="center">
	<h1 id="title">일반 회원가입</h1>
	<br>
	<input type="text" id="param_method" th:value="${param.method}" hidden="true">
	<form action="/register" method="post" id="registerForm">
		<table>
			<tr id="tr_userId">
				<th>아이디</th>
				<td>
					<input type="text" name="userId" id="userId" th:value="${userId}">
					<input type="button" value="중복확인" id="btn_check_userId">
					<span id="check_userId_result"></span>
				</td>
			</tr>
			<tr id="tr_userEmail">
				<th>이메일</th>
				<td><input type="text" name="userEmail" id="userEmail" th:value="${userEmail}" readOnly required="required"></td>
			</tr>
			
			<tr id="tr_userPw">
				<th>비밀번호</th>
				<td><input type="password" name="userPw" id="userPw" required="required"></td>
			</tr>
			<tr id="tr_userPw_confirm">
				<th>비밀번호확인</th>
				<td><input type="password"></td>
			</tr>
			<tr>
				<th>휴대폰번호</th>
				<td>
					<select id="userPhone1" th:value="${userPhone1}">
						<option value="" th:selected="${userPhone1}==''">선택</option>
						<option value="010" th:selected="${userPhone1}=='010'">010</option>
						<option value="011" th:selected="${userPhone1}=='011'">011</option>
					</select>
					-
					<input type="text" id="userPhone2" th:value="${userPhone2}" required="required">
					-
					<input type="text" id="userPhone3" th:value="${userPhone3}" required="required">
					<input id="btn_auth" type="button" value="인증번호 요청">
				</td>
			</tr>
			<tr id="tr_auth_num">
				<th></th>
				<td>
					<input type="text" name="auth_num" id="auth_num">
					<input type="button" value="인증확인">
				</td>
			</tr>
			<tr id="tr_input_email">
				<th>이메일</th>
				<td>
					<input type="text" id="emailHead">@
					<input type="text" id="emailTail" readOnly>
					<select id="selectEmailTail">
						<option selected="selected" value="">선택하기</option>
						<option id="naver">naver.com</option>
						<option id="daum">daum.net</option>
						<option id="inputText">직접입력</option>
					</select>
				</td>
			</tr>
			<tr>
				<th>이름</th>
				<td><input type="text" name="userName" th:value="${userName}" required="required"></td>
			</tr>
			<tr>
				<th>생년월일</th>
				<td><input type="text" name="userBirth" id="userBirth" th:value="${userBirth}" required="required"></td>
			</tr>
			
			<tr>
				<th>주소</th>
				<td>
					<input type="text" name="userAddress" id="userAddress" readOnly required="required">
					<input type="text" name="userPostcode" id="userPostcode" required="required">
				</td>
			</tr>
			
			<tr>
				<th>상세주소</th>
				<td><input type="text" name="userAddressDetail"></td>
			</tr>
	
		</table>
	
		<!-- hidden -->
		<input type="text" id="userPhone" name="userPhone" hidden="true">
		<input type="text" id="joinPlatform" name="joinPlatform" value="normal" hidden="true">
		<input type="text" th:value="${T(com.goodmeaning.vo.UserRole).USER}" name="userRole" hidden="true">
	
	
		<!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> -->
		<input type="submit" value="회원가입">


	</form>


</div>


</body>
<th:block layout:fragment="script">
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<script>

$(function () {
	
	// 아이디 중복확인 
	$("#btn_check_userId").click(function(){
		$.ajax({
			type: "GET",
			url: "/register/checkUserId",
			data:{
				userId: $("#userId").val()
			},
			success: function(data){
				if(data.result == true)
					$("#check_userId_result").text("이미 사용중인 아이디 입니다");
				else $("#check_userId_result").text("사용 가능한 아이디 입니다");
				
			}
		});
	})
	
	// 파라미터가 카카오이면 
	// 아이디 hidden 처리 
	if($("#param_method").val()=='kakao'){
		$("#tr_userId").hide();
		$("#title").text("카카오로 회원가입");
		$("#tr_userPw").hide();
		$("#tr_userPw_confirm").hide();
		$("#userPw").prop('required',false);
		
	}
	
	// 파라미터가 네이버이면
	// 아이디 hidden 처리, 이메일/이름/생년월일/핸드폰번호 readOnly 처리 
	if($("#param_method").val()=='naver'){
		$("#tr_userId").hide();
		$("#title").text("네이버로 회원가입");
		$("#tr_userPw").hide();
		$("#tr_userPw_confirm").hide();
		
		$("#userEmail").prop('readonly', true);
		$("#userName").prop('readonly', true);
		$("#userBirth").prop('readonly', true);
		$("#userPhone1").prop('readonly', true);
		$("#userPhone2").prop('readonly', true);
		$("#userPhone3").prop('readonly', true);
		$("#userPw").prop('required',false);
		$("#tr_auth_num").hide();
		$("#btn_auth").hide();
		
		
	}
	// userEmail이 안들어왔으면 
	// email(full) hidden 처리, input_email show 처리 
	if($("#userEmail").val()==''){
		$("#tr_userEmail").hide();
		$("#tr_input_email").show();
	}
	else{
		$("#tr_userEmail").show();
		$("#tr_input_email").hide();
	}
	
	
	console.log($("#userEmail").val());
	
	
	// 주소 api
	$("#userAddress").click(function(){
		
		new daum.Postcode({
			oncomplete: function(data) {
				$("#userAddress").val(data.address);
				$("#userPostcode").val(data.zonecode);
				$("input[name=userAddressDetail]").focus();
			}
			
		}).open();
	});
	
	// 이메일 
	$("#selectEmailTail").change(function(){
		if($("#selectEmailTail").val() == "직접입력"){
			$("#emailTail").val("");
			$("#emailTail").attr("readOnly",false);
			
		}else{
			$("#emailTail").val($("#selectEmailTail").val());
			$("#emailTail").attr("readOnly",true);
			
		}
		
	});
	
	// submit 버튼 눌렀을 때
	// 1. userEmail = emailHead + emailTail
	// 2. method에 따라 joinPlatform 변경 
	// 3. userPhone 입력 
	$("#registerForm").submit(function(){
		
 		if($("#userEmail").val()==''){
			$("#userEmail").val($("#emailHead").val()+'@'+$("#emailTail").val());
		}
		if($("#param_method").val()!='' && $("#param_method").val()!=null){
			$("#joinPlatform").val($("#param_method").val());
		} 
		
		$("#userPhone").val($("#userPhone1").val()+$("#userPhone2").val()+$("#userPhone3").val());
		
		
		
	});
	
	// datepicker
	$(function() {
		if($("#param_method").val() != 'naver'){
		       //input을 datepicker로 선언
		    $("#userBirth").datepicker({
		        dateFormat: 'yy-mm-dd' //달력 날짜 형태
		        ,showOtherMonths: true //빈 공간에 현재월의 앞뒤월의 날짜를 표시
		        ,showMonthAfterYear:true // 월- 년 순서가아닌 년도 - 월 순서
		        ,changeYear: true //option값 년 선택 가능
		        ,changeMonth: true //option값  월 선택 가능                
		        ,showOn: "both" //button:버튼을 표시하고,버튼을 눌러야만 달력 표시 ^ both:버튼을 표시하고,버튼을 누르거나 input을 클릭하면 달력 표시  
		        ,buttonImage: "http://jqueryui.com/resources/demos/datepicker/images/calendar.gif" //버튼 이미지 경로
		        ,buttonImageOnly: true //버튼 이미지만 깔끔하게 보이게함
		        ,buttonText: "선택" //버튼 호버 텍스트              
		        ,yearSuffix: "년" //달력의 년도 부분 뒤 텍스트
	     	    ,monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'] //달력의 월 부분 텍스트
		        ,monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'] //달력의 월 부분 Tooltip
		        ,dayNamesMin: ['일','월','화','수','목','금','토'] //달력의 요일 텍스트
		        ,dayNames: ['일요일','월요일','화요일','수요일','목요일','금요일','토요일'] //달력의 요일 Tooltip
		        ,minDate: "-100Y" //최소 선택일자(-1D:하루전, -1M:한달전, -1Y:일년전)
		        ,maxDate: "+1D" //최대 선택일자(+1D:하루후, -1M:한달후, -1Y:일년후)  
		    });                    
		       
		       //초기값을 오늘 날짜로 설정해줘야 합니다.
		    $('#datepicker').datepicker('setDate', 'today'); //(-1D:하루전, -1M:한달전, -1Y:일년전), (+1D:하루후, -1M:한달후, -1Y:일년후)  
		}          
	});
});


</script>
</th:block>
</html>