<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
<div>
<div id="footer" th:fragment="footer">
	<div id="box">
			<br>
			<br>
	        <p class="box_p">(주)굿미닝 © 2021 KOSTA All rights reserved.</p>
	        <p class="box_p">code by 김명진|노희진|최수연|홍승현</p>
	        <p class="box_p">(08506) 서울특별시 금천구 가산디지털1로 151 이노플렉스 1차 2층</p>
	       	<p class="box_p">개인정보보호정책 | 웹사이트이용안내 | 이메일무단수집거부</p>
	        <span class="box_span">※본 사이트는 상업적인 사용을 금합니다.</span>
	        <br>
	        <br>
	</div>
</div>
</div>
</body>
</html>