<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title>Insert title here</title>

</head>
<!-- 항상 따라야할것 :로고, 메뉴바, 로그인 정보, 로그아웃버튼, 마이페이지버튼  -->
<body>
	<div th:fragment="header" style="background:#78c2ad;"> 
		<br>
 		<div align="right" th:if="!${session.user eq null}">
			<h4 th:text="|${session.user.userName} 님|" style="color:#EEEAD0; display:inline;"></h4>
			<a href="/invalidate" style="color:#ffffff; font-size:16px; padding-right: 20px;">로그아웃</a>
		</div>
		<div align="right" th:if="${session.user eq null}">
			<a href="/auth/login" style="color:#ffffff; font-size:16px; padding-right: 20px;">로그인</a>
		</div>
		<div align="center" style="background:#78c2ad;"><img src="/img/goodmeaning_logo.jpeg" width="300"/></div>

		<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="background:#78c2ad;">
		  <div class="container-fluid">
		  
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		
		    <div class="collapse navbar-collapse" id="navbarColor01">
		      <ul class="navbar-nav me-auto">
		        <li class="nav-item">
		          <a class="nav-link active" href="/">Home
		          <!--   <span class="visually-hidden">(current)</span> -->
		          </a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="/productlist">Product</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="/cartlist">Cart</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="/mypage/user">MyPage</a>
		        </li>
		        <!-- <li class="nav-item">
		          <a class="nav-link" href="#">About</a>
		        </li> -->
		        <!-- <li class="nav-item dropdown">
		          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
		          <div class="dropdown-menu">
		            <a class="dropdown-item" href="#">Action</a>
		            <a class="dropdown-item" href="#">Another action</a>
		            <a class="dropdown-item" href="#">Something else here</a>
		            <div class="dropdown-divider"></div>
		            <a class="dropdown-item" href="#">Separated link</a>
		          </div>
		        </li> -->
		      </ul>
		
		    </div>
		  </div>
		</nav>
		
		
	</div>
</body>
</html>