<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
<div id="div_nav">
<div th:fragment="nav" style="float:left;background:#EEEAD0;width:250px;height:100%;">
	<br>
	<br>
	<h3 id="nav_mypage_title" style="padding:10px;color:#61897D;">마이페이지</h3>
	<br>
	
	<div align="left" style="margin-left:40px;">
		<div><a href="/mypage/user">회원정보수정</a></div><br>
		<div><a href="/mypage/orders">구매내역</a></div><br>
		<div><a href="/mypage/updateorders">취소/반품/교환내역</a></div><br>
		<div><a href="/mypage/reviews">리뷰</a></div><br>
		
	</div>

</div>
</div>
</body>
</html>