<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="user/layout/layout_mypage">

<head>

<meta charset="UTF-8">
<title>주문상세</title>
</head>
<body>

<section class="panel panel-default" layout:fragment="content" align="center">
	<h2 align="left">주문상세</h2>
	<br>
	<br>
	<br>
	<h4 align="left">발송정보</h4>
	<table id=sender_info class="table table-bordered">
		<tr>
			<th class="table-light" width=150>발송인</th>
			<td th:text="${order.userPhone.userName}"></td>
			<th class="table-light"  width=150>전화번호</th>
			<td th:text="${order.userPhone.userPhone}"></td>
		</tr>
		<tr>
			<th class="table-light">발송주소</th>
			<td th:text="|${order.userPhone.userAddress} ${order.addressDetail==null?'':order.addressDetail} (${order.userPhone.userPostcode})|" colspan="3"></td>
		</tr>
		
	</table>
	<br>
	<h4 align="left">수령정보</h4>
	<table id=reciever_info class="table table-bordered">
		<tr>
			<th class="table-light" width=150>수령인</th>
			<td th:text="${order.deliveryRecipient}"></td>
			<th class="table-light" width=150>전화번호</th>
			<td th:text="${order.deiveryPhone}"></td>
		</tr>
		<tr>
			<th class="table-light">수령주소</th>
			<td th:text="|${order.address} ${order.addressDetail==null?'':order.addressDetail} (${order.postcode})|" colspan="3"></td>
		</tr>
		
	</table>
	<br>
	<br>
	<h4 align="left">상세정보</h4>
	<table id=order_info class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>상품이미지</th>
				<th>상품정보</th>
<!-- 				<th>수량</th> -->
				<th>개당가격</th>
			</tr>
		</thead>
		<tr th:each="detail:${order.details}">
			<td>
				<img th:src="${detail.productNum.productMainimg1}" width="80">
			</td>
			<td align="left">
				<h4 th:text="${detail.productNum.productName}"></h4>
				<span th:text="|수량: ${detail.orderDetailQuantity}|" style="color:grey;"></span><br>
				<span th:text="|옵션: ${detail.productOption==null?'[없음]':detail.productOption.optionName+' (+'+#numbers.formatInteger(detail.productOption.extraprice, 0, 'COMMA')+'원'+')'}|" style="color:grey;"></span>
				
			</td>
		<!-- 	<td th:text="${detail.orderDetailPrice}"></td> -->
			<td th:text="|${detail.productOption==null?#numbers.formatInteger(detail.orderDetailPrice, 0, 'COMMA'):#numbers.formatInteger(detail.orderDetailPrice+detail.productOption.extraprice, 0, 'COMMA')}원|"></td>
		</tr>
		
	</table> 
	<div align="right">
		<span style="text-align:right;">(50,000원 이내 구매시, 배송비 3,000원 추가)</span>
	</div>
	
	<br>
	<br>
	<br>
	
	<div align="right">
		<h3>총 가격</h3>
		<h1 th:text="|${#numbers.formatInteger(order.orderTotalPrice, 0, 'COMMA')} 원|"></h1>
	
	</div>
	<br>
	<br>

</section>

</body>
<th:block layout:fragment="script">
<script>

</script>
</th:block>
</html>