<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="user/layout/layout_mypage">

<head>

<meta charset="UTF-8">
<title>리뷰</title>
<style>
.star_grey{
    color:#ccc;
}

.star{
	color:#F3969A;

}

</style>
</head>
<body>

<section class="panel panel-default" layout:fragment="content">
	<h2 align="left">리뷰</h2>
	<br>
	<input type="text" th:value="${review_update_result}" id="review_update_result" hidden="true">
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr align="center">
				<th>no</th>
				<th>상품이미지</th>
				<th>상품이름</th>
		<!-- 		<th>수량</th> -->
				<th>금액</th>
				<th>작성날짜</th>
				<th>수정날짜</th>
				<th>리뷰확인</th>
			</tr>
		</thead>
		
		<tr th:if="${#lists.size(reviews.result.content)}==0" align="center">
			<td colspan="8" align="center">등록된 리뷰가 없습니다.</td>
		</tr>
		<tr th:each="review:${reviews.result.content}" align="center">
			
			<td th:text="${review.reviewNum}" class="review_no"></td> <!-- 주문번호 -->  
			<td> <!-- 이미지 -->  
				<img th:src="${review.orderDetail.productNum.productMainimg1}" width="80" height="80">
			</td>
			<td class="td_product_name" align="left">
				<a th:href="@{/productdetail(pno=${review.orderDetail.productNum.productNum})}" th:text="${review.orderDetail.productNum.productName}" style="font-size:17px;" class="product_name"></a><br>
				<span th:text="|수량: ${review.orderDetail.orderDetailQuantity}|" style="color:grey;"></span><br>
				<span th:text="|옵션: ${review.orderDetail.productOption==null?'[없음]':review.orderDetail.productOption.optionName}|" style="color:grey;"></span>
<!-- 				<a href="" th:text="${review.orderDetail.productNum.productName}" class="product_name"></a> -->
				
			</td>
		<!-- 	<td th:text="${review.orderDetail.orderDetailQuantity}"></td> -->
			<td th:text="|${#numbers.formatInteger(review.orderDetail.orderDetailPrice, 0, 'COMMA')}원|"></td>
			<td th:text="${#dates.format(review.reviewCreatedate, 'yyyy-MM-dd HH:mm')}"></td>
			<td th:text="${#dates.format(review.reviewUpdatedate, 'yyyy-MM-dd HH:mm')}"></td>
			
			<td>
				<button data-bs-toggle="modal" data-bs-target=".bs-example-modal-lg" class="btn show_review btn-secondary" >리뷰확인</button>
			</td>
			<td hidden="true" th:text="${review.reviewTitle}" class="review_title"></td>
			<td hidden="true" th:text="${review.reviewContent}" class="review_content"></td>
			<td hidden="true" th:text="${review.reviewLike}" class="review_like"></td>
			<td hidden="true" th:text="${review.reviewMainimg1}" class="review_img1"></td>
			<td hidden="true" th:text="${review.reviewMainimg2}" class="review_img2"></td>
		
		</tr>
		
	</table>
	<br>
	    <!-- paging -->
	<nav>
	   <div>
	     <ul class="pagination" style="justify-content: center;">
	       <li class="page-item" th:if="${reviews.prevPage}">
	         <a class="page-link" th:href="${reviews.prevPage.pageNumber}+1">PREV [[${reviews.prevPage.pageNumber}+1]]</a>
	       </li>
	        <li class="page-item" th:classappend="${p.pageNumber==reviews.currentPageNum-1}?active:''" 
	                             th:each="p:${reviews.pageList}">
	         <a class="page-link" th:href="${p.pageNumber}+1">[[${p.pageNumber}+1]]</a>
	       </li>  
	       <li class="page-item" th:if="${reviews.nextPage}">
	         <a class="page-link" th:href="${reviews.nextPage.pageNumber}+1">NEXT [[${reviews.nextPage.pageNumber}+1]]</a>
	       </li>   
	     </ul>
	   </div>
	  </nav>
	  <br>
	  <form id="f1" th:action="@{/mypage/reviews}" method="get">
	    <input type="hidden" name="page" th:value="${reviews.currentPageNum}">
	    <input type="hidden" name="size" th:value="${reviews.currentPage.pageSize}">
<!-- 	    <input type="hidden" name="type" th:value="${pageVO.type}">
	    <input type="hidden" name="keyword" th:value="${pageVO.keyword}"> -->
	    
	 </form>
	 
	<!-- Modal -->
	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="review_modal">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel" align="left">리뷰 확인</h4>
			    	<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        
			    </div>
			    <div class="modal-body">
			 
			      	<form>
			      		
			      		
			      		<div class="form-group">		
		           			<label for="modal_product" class="control-label">상품명</label>
		            		<input type="text" class="form-control" id="modal_product" readOnly></input>
		          		</div>
		          		<div class="form-group">
		            		<label for="modal_title" class="control-label">제목</label>
		            		<input type="text" class="form-control" id="modal_title" readOnly>
		         		</div>
		          		<div class="form-group">		
		           			<label for="modal_content" class="control-label">내용</label>
		            		<textarea class="form-control" id="modal_content" readOnly></textarea>
		          		</div>
		          		<div align="right" class="form-inline" style="text-align:center;">
		          			<!-- <input align="right" class="form-control" type="text" id="modal_review_like" style="width:50px;margin-left:auto;"> -->
		          			<!-- <span>&nbsp;점</span> -->
		          			<div align="right" style="margin-left:auto;">
		          				<span>평점 </span>
		          				<span class="star_grey" id="star1">★</span>
		          				<span class="star_grey" id="star2">★</span>
		          				<span class="star_grey" id="star3">★</span>
		          				<span class="star_grey" id="star4">★</span>
		          				<span class="star_grey" id="star5">★</span>
		          			</div>
		          		</div>
		          		<br>
		          		<div>
		          			<img id="modal_img1" th:width="200">
		          			<img id="modal_img2" th:width="200">
		          		</div>
		        	</form>
			    </div>
			    <div class="modal-footer">
					<!-- 누르면 수정하는 페이지로 이동 -->
					<button type="button" class="btn btn-light" data-bs-dismiss="modal">취소</button>
					<form action="/mypage/review/update" method="get">
						<input type="text" name="reviewNum" id="modal_no" hidden="true">
						<button type="submit" class="btn btn-primary" id="update_review">수정하기</button>
					</form>
			    	
			        
			       <!--  <button type="button" class="btn btn-primary">Save changes</button> -->
			    </div>
			</div>
		</div>
	</div>	 
	 

</section>

</body>

<th:block layout:fragment="script">
<script>
$(function() {
	if($("#review_update_result").val()=='success'){
		alert('리뷰 수정이 완료되었습니다.');
	}
	
	var formObj = $("#f1"); //폼을 가져온다.
	$(".pagination a").click(function(e) {
		e.preventDefault(); //본래의 event(기능)을 취소(link 취소)
		formObj.find("[name='page']").val($(this).attr("href"));
		formObj.submit();
	});
	
	$(".order_cancel").submit(function() {
		if(confirm('정말 구매를 취소하시겠습니까?') == true){
			return true;
		}
		return false;
	});
	
	$(".btn.show_review.btn-secondary").on('click',function(){
		$(".star").attr('class','star_grey');
		$("#modal_img1").attr('src','');
		$("#modal_img2").attr('src','');
		
		var product = $(this).parent().parent().find(".td_product_name").find(".product_name").text();
		var title = $(this).parent().parent().find(".review_title").text();
		var content = $(this).parent().parent().find(".review_content").text();
		var like = $(this).parent().parent().find(".review_like").text();
		var no = $(this).parent().parent().find(".review_no").text();
		var img1 = $(this).parent().parent().find(".review_img1").text();
		var img2 = $(this).parent().parent().find(".review_img2").text();
		$("#modal_product").val(product);
		$("#modal_title").val(title);
		$("#modal_content").text(content);
		$("#modal_no").val(no);
		if(img1 != ""){
			$("#modal_img1").attr('src','https://good-meaning.s3.ap-northeast-2.amazonaws.com/'+img1);
		}
		if(img2 != ""){
			$("#modal_img2").attr('src','https://good-meaning.s3.ap-northeast-2.amazonaws.com/'+img2);
		}
		
		
		
		
		like *= 1; // String to int
		switch(like){

			case 5:
				$("#star5").attr('class','star');
			case 4:
				$("#star4").attr('class','star');
			case 3:
				$("#star3").attr('class','star');
			case 2:
				$("#star2").attr('class','star');
			case 1:
				$("#star1").attr('class','star');
				
		
		}
		
		
		console.log(title);

	});

	
});




</script>
</th:block>
</html>