<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="user/layout/layout_mypage">

<head>

<meta charset="UTF-8">

<title>회원수정</title>
<style>
	table{
		border-collapse: separate;
		border-spacing: 0 1rem;
	}
	.ui-datepicker-trigger{
	
		width:35px !important;
		height:35px !important;
	}
</style>
</head>
<body>

<div class="panel panel-default" layout:fragment="content" align="center">
	<h2 align="left">회원정보수정</h2>
	<br>

	<form action="/mypage/user" method="post" id="updateForm">
	<table>
		<tr id="tr_userId">
			<th>아이디&nbsp;</th>
			<td><input class="form-control" type="text" name="userId" readOnly th:value="${user.userId}" style="width:250px;"></td>
		</tr >
<!--  			<tr id="tr_before_userPw">
				<th>이전 비밀번호</th>
				<td>
					<input type="password" id="before_userPw">
				</td>
			</tr> -->
			<tr id="tr_new_userPw">
				<th>비밀번호&nbsp;</th>
				<td>
					<input class="form-control" type="password" id="new_userPw" placeholder="영문 또는 숫자조합으로 8~12자" style="width:250px;">
				
				</td>
			</tr>
			<tr id="tr_userPw_confirm">
				<th>비밀번호확인&nbsp;</th>
				<td>
					<input class="form-control" type="password" id="userPw_confirm" style="width:250px;">
				
				</td>
			</tr> 
		<tr>
			<th>휴대폰번호&nbsp;</th>
			<td><input class="form-control" type="text" name="userPhone" id="userPhone" readOnly th:value="${user.userPhone}"></td>
		</tr>
		<tr>
			<th>이메일&nbsp;</th>
			<td><input class="form-control" type="text" name="userEmail" id="userEmail" th:value="${user.userEmail}" readOnly></td>
		</tr>
		<tr>
			<th>이름&nbsp;</th>
			<td><input class="form-control" type="text" name="userName" th:value="${user.userName}"></td>
		</tr>
		<tr>
			<th>생년월일</th>
			<td>
				<div class="input-group" style="width:200px;" id="div_userBirth">
					
					<input class="form-control" type="text" name="userBirth" id="userBirth" th:value="${user.userBirth}" required="required" readOnly>
						
				</div>
			</td>
		</tr>
		<tr>
			<th>주소</th>
			<td>
			<input class="form-control" type="text" name="userAddress" id="userAddress" readOnly th:value="${user.userAddress}" required="required">
			<input class="form-control" type="text" name="userPostcode" id="userPostcode" th:value="${user.userPostcode}" readOnly required="required">
			</td>
		</tr>
		<tr>
			<th>상세주소</th>
			<td><input class="form-control" type="text" name="userAddressDetail" th:value="${user.userAddressDetail}"></td>
		</tr>

		
	</table>

	<!-- hidden -->

	<input type="text" name="joinPlatform" hidden="true" th:value="${user.joinPlatform}" id="joinPlatform">
	<input type="text" th:value="${user.userRole}" name="userRole" hidden="true">
	<input type="text" id="userPw" name="userPw" hidden="true" th:value="${user.userPw}">
<!-- 	<input type="text" name="userJoindate" hidden="true" th:value="${user.userJoindate}"> -->
	
	<br>
	<br>
	<div align="right">
		<input class="btn btn-secondary" type="submit" value="수정하기" style="width:100px;margin-right:100px;">
	</div>
	
	
	
	</form>

</div>
<br>
<br>

</body>
<th:block layout:fragment="script">
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<script>

$(function () {

	if($("#joinPlatform").val()!='normal'){
		$("#tr_userId").hide();
		$("#tr_new_userPw").hide();
		$("#tr_before_userPw").hide();
		$("#tr_userPw_confirm").hide();
	}
	
	// datepicker
	$(function() {
		/* if($("#param_method").val() != 'naver'){ */
		       //input을 datepicker로 선언
		$("#userBirth").datepicker({
		    dateFormat: 'yy-mm-dd' //달력 날짜 형태
		    ,showOtherMonths: true //빈 공간에 현재월의 앞뒤월의 날짜를 표시
		    ,showMonthAfterYear:true // 월- 년 순서가아닌 년도 - 월 순서
		    ,changeYear: true //option값 년 선택 가능
		    ,changeMonth: true //option값  월 선택 가능                
		    ,showOn: "both" //button:버튼을 표시하고,버튼을 눌러야만 달력 표시 ^ both:버튼을 표시하고,버튼을 누르거나 input을 클릭하면 달력 표시  
		    ,buttonImage: "/img/calendar.png" //버튼 이미지 경로
		    ,buttonImageOnly: true //버튼 이미지만 깔끔하게 보이게함
		    ,buttonText: "선택" //버튼 호버 텍스트              
		    ,yearSuffix: "년" //달력의 년도 부분 뒤 텍스트
	     	,monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'] //달력의 월 부분 텍스트
		    ,monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'] //달력의 월 부분 Tooltip
		    ,dayNamesMin: ['일','월','화','수','목','금','토'] //달력의 요일 텍스트
		    ,dayNames: ['일요일','월요일','화요일','수요일','목요일','금요일','토요일'] //달력의 요일 Tooltip
		    ,minDate: "-100Y" //최소 선택일자(-1D:하루전, -1M:한달전, -1Y:일년전)
			,maxDate: "+1D" //최대 선택일자(+1D:하루후, -1M:한달후, -1Y:일년후)  
		});                    
		       
		       //초기값을 오늘 날짜로 설정해줘야 합니다.
		$('#datepicker').datepicker('setDate', 'today'); //(-1D:하루전, -1M:한달전, -1Y:일년전), (+1D:하루후, -1M:한달후, -1Y:일년후)  
	
	});
	
	// 주소 api
	$("#userAddress").click(function(){
		
		new daum.Postcode({
			oncomplete: function(data) {
				$("#userAddress").val(data.address);
				$("#userPostcode").val(data.zonecode);
				$("input[name=userAddressDetail]").focus();
			}
			
		}).open();
	});
	
	$("#new_userPw").on('input',function(){
		
		if(/^[a-zA-Z0-9]{8,20}$/.test($(this).val())){
			$("#new_userPw").attr('class','form-control is-valid');
		}
		else{
			$("#new_userPw").attr('class','form-control is-invalid');
		}
	});
	
	
	$("#updateForm").on('submit',function(){
 	/* 	if($("#before_userPw").val()!=$("#userPw").val() && $("#before_userPw").val()!=''){
			alert("비밀번호가 맞지 않습니다. 다시 입력해 주세요");
			return false;
		} */
		
		if($("#new_userPw").val()!=$("#userPw_confirm").val() && $("#new_userPw").val()!=''){
			alert("비밀번호가 일치하지 않습니다. 확인 후 다시 입력해 주세요.")
			return false;
		}
		if($("#new_userPw").val()!=''){
			$("#userPw").val($("#userPw_confirm").val());
		
		}
		alert("수정이 완료되었습니다!")

	});
	
	$("#userPw_confirm").on('input',function(){
		if($("#new_userPw").val()==$(this).val()){
			$("#userPw_confirm").attr('class','form-control is-valid');
		}
		else{
			$("#userPw_confirm").attr('class','form-control');
		}
	});
	


});


</script>
</th:block>
</html>