<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="user/layout/layout_mypage">

<head>

<meta charset="UTF-8">
<title>주문내역</title>
</head>
<body>

<section class="panel panel-default" layout:fragment="content" align="center">
	<h2 align="left">구매내역</h2>
	<table class="table table-striped table-bordered table-hover">
		<tr>
			<th>상품이미지</th>
			<th>상품이름</th>
			<th>지불금액</th>
			<th>현황</th>
			<th>구매날짜</th>
			<th>취소가능여부</th>
		</tr>
		<tr th:each="order:${orders}">
			<td><img th:src="${order.details[0].productNum.productMainimg1}" width="150" height="150"></td>
			<td>
				<a href="" th:text="|${order.details[0].productNum.productName}외 ${order.details.size-1}건|"></a>
				
			</td>
			<td th:text="${order.orderTotalPrice}"></td>
			<td th:text="${order.orderStatus}"></td>
			<td th:text="${order.orderDate}"></td>
			<td><button>구매취소</button></td>
		
		</tr>
		
	</table>

</section>

</body>
<th:block layout:fragment="script">
<script>
</script>
</th:block>
</html>